<%# Argumants
==============

- histories
- globals

Array of CfTemplate instance.

%>
<script id="add-modify-tabpane-template" type="text/template">
<div class="col-md-8 col-sm-8">
  <fieldset>
    <div class="form-group">
      <label for="add_modify_name"><%= t('cf_templates.subject') %></label>
      <input v-model="name" type="text" id="add_modify_name" class="form-control">
    </div>

    <div class="form-group">
      <label for="add_modify_detail"><%= t('cf_templates.details') %></label>
      <input v-model="detail" type="text" id="add_modify_detail" class="form-control">
    </div>

    <div class="form-group">
      <label for="add_modify_value"><%= t('cf_templates.cf_template') %></label>
      <textarea v-model="value" id="add_modify_value" class="form-control" cols="20" rows="15"></textarea>
    </div>
    <div class="alert alert-danger" v-show="value | jsonParseErr">{{value | jsonParseErr}}</div>
  </fieldset>
</div>

<div class="tabbable col-md-4 col-sm-4">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#history-json-tab" data-toggle="tab"><%= t 'cf_templates.history' %></a></li>
    <li><a href="#global-json-tab" data-toggle="tab"><%= t 'cf_templates.global' %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="history-json-tab">
      <select class="form-control" size="20" v-model="selected_cft_id" number v-on="dblclick: select_cft()">
        <option v-repeat="t: histories" value="{{t.id}}" v-text="t.name"></option>
      </select>
    </div>
    <div class="tab-pane" id="global-json-tab">
      <select class="form-control" size="20" v-model="selected_cft_id" number v-on="dblclick: select_cft()">
        <option v-repeat="t: globals"   value="{{t.id}}" v-text="t.name"></option>
      </select>
    </div>
  </div>
  
  <div class="form-actions-top">
    <button class="btn btn-default" v-on="click: select_cft()"><%= glyphicon "chevron-left" %></button>
  </div>
</div>

<div class="form-actions-top col-md-12 col-sm-12">
  <button class="btn btn-primary btn-sm" v-on="click: submit()">
    <%= t 'cf_templates.insert_parameters' %>
  </button>
</div>
</script>
