<div>
  <h3 class="page-header">
    {{physical_id}}&nbsp;<small>{{ec2.public_ip}} </small>
  </h3>

  <div class="col-xs-12">

    <h4 class="page-header"><%= t 'ec2_instances.description' %></h4>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th class="col-md-2"><%= t 'infrastructures.genre' %></th>
          <th class="col-md-5"><%= t 'common.value' %></th>
          <th class="col-md-5"><%= t 'common.actions' %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Status</td>
          <td>
            <%# TODO: I18n %>
            <div-loader v-if="ec2_status_changing" :text="changing_status"></div-loader>
            <span v-if="!ec2_status_changing">{{ec2.status}}</span>
          </td>
          <td>
            <bootstrap-tooltip :title="change_status">
              <template slot="content">
              <div class="btn-group">
                <button href="#" :class="ec2_btn_class" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" :disabled="ec2_status_changing">
                  <span class="glyphicon glyphicon-off"></span>&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li :class="{disabled: running}"><a @click="start_ec2()"  href="#"><%= glyphicon 'play' %> Start</a></li>
                  <li :class="{disabled: stopped}"><a @click="stop_ec2()"   href="#"><%= glyphicon 'stop' %> Stop</a></li>
                  <li :class="{disabled: stopped}"><a @click="reboot_ec2()" href="#"><%= fa 'retweet' %> Reboot</a></li>
                  <li><a href="#detach-ec2-modal" data-toggle="modal"><%= glyphicon 'eject' %> <%= t 'helpers.links.detach' %></a></li>
                  <li><a href="#terminate-ec2-modal" data-toggle="modal"><%= fa 'ban text-danger' %> <%= t 'helpers.links.terminate' %></a></li>
                </ul>
              </div>
              </template>
            </bootstrap-tooltip>
            <%= render 'infrastructures/modal/modal_detach_ec2' %>
            <%= render 'infrastructures/modal/modal_terminate_ec2' %>
          </td>
        </tr>
        <tr>
          <td>Instance Type</td>
          <td>{{ec2.instance_type}}</td>
          <td>
            <button href="#change-scale-modal" role="button" class="btn btn-xs btn-warning" data-toggle="modal">
              <%= t 'infrastructures.btn.change_scale' %>
            </button>
          </td>
        </tr>
        <tr>
          <td>EBS</td>
          <td colspan="2">
            <span v-for="block_device in ec2.block_devices">
              <bootstrap-tooltip :title="block_device.device_name">
                <template slot="content">
                <a @click="on_click_volume(block_device.ebs.volume_id)" :class="{'btn-info': volume_selected === block_device.ebs.volume_id}" class="btn btn-xs btn-default">
                  {{block_device.ebs.volume_id}}
                  <span v-if="is_root_device(block_device.device_name)" class="label label-primary">Root</span>
                  <span v-if="latest_snapshot(block_device.ebs.volume_id)" class="label label-default">
                     Latest: {{latest_snapshot_date(block_device.ebs.volume_id)}}
                  </span>
                  <span class="caret"></span>
                </a>
                </template>
              </bootstrap-tooltip>
            </span>
            <bootstrap-tooltip :title="attach_vol" class="dropdown" id="attachButton">
              <template slot="content">
              <a @click="load_volumes()" class="btn btn-xs btn-link" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></a>
              <ul id="attachVolume" class="dropdown-menu">
                <li><a @click="init_volume_options" href="#create_volume_modal" data-toggle="modal"><%= t 'ec2_instances.create_volume' %></a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header"><%= t 'ec2_instances.attachable_volumes' %></li>
                <li class="dropdown-header" v-if="loading_volumes"><div-loader></div-loader></li>
                <li v-for="volume in attachable_volumes" v-show="!loading_volumes">
                  <a @click="attach_volume(volume.volume_id)" href="#">{{volume.volume_id}} (Name: {{volume.tags.Name}}, size: {{volume.size}} GiB, type: {{volume.volume_type}})</a>
                </li>
                <li class="disabled" v-if="!loading_volumes && !attachable_volumes.length"><a href="#"><%= t 'ec2_instances.none' %></a></li>
              </ul>
              </template>
            </bootstrap-tooltip>
            <div class="panel-group collapse" id="ebs_panel" role="tabpanel" style="margin-bottom: 0px">
              <div class="panel panel-info">
                <div class="panel-heading" transition="fade">
                  <strong>{{volume_selected}} :</strong>
                  <button @click="create_snapshot(volume_selected)" class="btn btn-xs btn-primary">
                    <span class="glyphicon glyphicon-camera"></span>
                    <%= t('snapshots.create_snapshot') %>
                  </button>
                  <button @click="edit_retention_policy" href="#retention-policy-modal" data-toggle="modal" class="btn btn-xs btn-warning">
                    <span class="glyphicon glyphicon-repeat"></span>
                    <%= t('snapshots.retention_policy') %>
                    <span v-if="is_retention_policy_set" class="label label-danger">
                      Max: {{ec2.retention_policies[volume_selected].max_amount}} item(s)
                    </span>
                    <span v-if="!is_retention_policy_set" class="label label-default">
                      <%= t('common.not_set') %>
                    </span>
                  </button>
                  <button @click="open_snapshot_schedule_modal(volume_selected)" href="#" class="btn btn-xs btn-warning">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <%= t('schedules.schedule') %>
                    <span v-if="is_snapshot_schedule_set" class="label label-danger">
                      {{schedule_indicator_message}}
                    </span>
                    <span v-if="!is_snapshot_schedule_set" class="label label-default">
                      <%= t('common.not_set') %>
                    </span>
                  </button>
                  <span style="float: right;">
                    <button @click="detach_volume" class="btn btn-xs btn-default"><span class="fa fa-eject"></span></button>
                  </span>
                </div>
              </div>
              <div id="ebs_panel" class="panel">
                <div class="panel-heading">
                  <%= t 'snapshots.snapshots' %>
                  <button @click="load_snapshots" :disabled="loading_snapshots" class="btn btn-xs btn-default"><span class="fa fa-refresh" :class="{'fa-spin': loading_snapshots}"></span></button>
                  <span style="float: right;">
                    <button @click="init_volume_options(selected_snapshots[0])" :disabled="selected_snapshots.length != 1" class="btn btn-sm btn-success" data-toggle="modal" href="#create_volume_modal"><span class="fa fa-hdd-o"></span> <%= t 'ec2_instances.create_volume' %></button>
                    <button @click="delete_selected_snapshots" :disabled="selected_snapshots.length < 1 || loading_snapshots" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span> <%= t('helpers.links.destroy') %></button>
                  </span>
                </div>
                <div-loader v-if="loading_snapshots" style="padding-left: 20px"></div-loader>
                <table v-if="!loading_snapshots" class="table table-condensed table-hover">
                  <thead>
                    <th></th>
                    <th class=""         @click="sort_by('tags.Name')"  >Name<span           :class="{'caret': sorting_by('tags.Name'),   'caret-reversed': sort_asc}"></span></th>
                    <th class="" @click="sort_by('snapshot_id')">ID<span             :class="{'caret': sorting_by('snapshot_id'), 'caret-reversed': sort_asc}"></span></th>
                    <th class="col-md-2" @click="sort_by('state')"      >State<span          :class="{'caret': sorting_by('state'),       'caret-reversed': sort_asc}"></span></th>
                    <th class=""         @click="sort_by('start_time')" >Date<span           :class="{'caret': sorting_by('start_time'),  'caret-reversed': sort_asc}"></span></th>
                    <th class=""         @click="sort_by('encrypted')"  >Encrypted<span      :class="{'caret': sorting_by('encrypted'),   'caret-reversed': sort_asc}"></span></th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr v-for="snapshot in ec2.snapshots | filterBy volume_selected in 'volume_id' | count" :class="{info: snapshot.selected}">
                      <td><input v-model="snapshot.selected" type="checkbox"></td>
                      <td v-text="snapshot.tags.Name" style="word-break: break-all"></td>
                      <td v-text="snapshot.snapshot_id"></td>
                      <td v-text="snapshot_status(snapshot)"></td>
                      <td v-text="toLocaleString(snapshot.start_time)"></td>
                      <td v-text="snapshot.encrypted"></td>
                      <td><i class="fa fa-lock" v-show="snapshot.tags.<%= Snapshot::PROTECTION_TAG_NAME %>"></i></td>
                    </tr>
                  </tbody>
                </table>
                <div v-if="!filteredLength && !loading_snapshots" class="panel-footer">
                  <%= t('snapshots.msg.no_snapshots') %>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Public DNS</td>
          <td><%= link_to '{{ec2.public_dns}}', '//{{ec2.public_dns}}', target: '_blank' %></td>
          <td><%= copy_to_clipboard_button('ec2.public_dns') %></td>
        </tr>
        <tr>
          <td>Elastic IP</td>
          <td><%= link_and_dropdown_ssh('ec2.elastic_ip') %></td>
          <td><%= copy_to_clipboard_button('ec2.elastic_ip') %></td>
        </tr>
        <tr>
          <td>Public IP</td>
          <td><%= link_and_dropdown_ssh('ec2.public_ip') %></td>
          <td><%= copy_to_clipboard_button('ec2.public_ip') %></td>
        </tr>
        <tr>
          <td> Platform </td>
          <td v-if="ec2.platform">
            <%= fa 'windows' %> Windows
          </td>
          <td v-else>
            <%= fa 'linux' %> Linux
          </td>
          <td></td>
        </tr>
        <tr>
            <td>
              <bootstrap-tooltip :title="sec_group">
                <template slot="content">
                  <%=t('security_groups.title')%>
                </template>
              </bootstrap-tooltip>
            </td>
          <td>
            <button href="#view-rules-modal" @click="view_rules()" class="btn btn-xs btn-info" class="btn btn-xs dropdown-toggle" data-toggle="modal">
              <%= glyphicon 'info-sign' %> <%= t 'security_groups.btn.view_rules' %>
            </button>
          </td>
          <td>
              <button href="#change-rules-modal" @click="get_security_groups()" class="btn btn-xs btn-default" class="btn btn-xs dropdown-toggle" data-toggle="modal">
                <%= t 'security_groups.btn.change_groups' %>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= render 'infrastructures/modal/modal_change_rules' %>

<div class="alert alert-danger col-xs-12" v-if="ec2.chef_error">
  <h4>Connection Error</h4>
  {{ec2.chef_msg}}
</div>

<div v-if="ec2.before_bootstrap">
  <div class="col-xs-12">
    <div class="alert alert-warning">
      <%= t 'nodes.msg.before_bootstrap' %>
    </div>
  </div>


  <div class="form-actions-top col-xs-12">

    <bootstrap-tooltip v-if="!running && !loading" title="<%= t('nodes.msg.stopped') %>" class="btn btn-primary disabled">
      <temlate slot="content"><%= t 'nodes.btn.bootstrap_with_chef_server' %></temlate>
    </bootstrap-tooltip>
    <button v-if="running && !loading" @click="bootstrap()" class="btn btn-primary">
      <span><%= t 'nodes.btn.bootstrap_with_chef_server' %></span>
    </button>
    <div-loader v-if="loading"></div-loader>
  </div>

</div>

<%# show-node-infomation %>
<div v-if="running">
  <h4 class="page-header col-xs-12"><%= t 'ec2_instances.settings' %></h4>

  <%# Status labels %>
  <div class="col-xs-12 col-sm-2">
    <h5 class="page-header"><%= t 'nodes.statuses' %></h5>

    <div class="col-xs-4 col-sm-12">
      <h6><%= t 'nodes.latest_cook_status' %></h6>
      <bootstrap-tooltip :title.once="cook_time">
        <template slot="content"><span :class="cook_status_class" class="label">{{cook_status}}</span></template>
      </bootstrap-tooltip>
    </div>
    <div class="col-xs-4 col-sm-12">
      <h6><%= t 'nodes.latest_ansible_status' %></h6>
      <bootstrap-tooltip :title.once="ansible_time">
        <template slot="content"><span :class="ansible_status_class" class="label">{{ansible_status}}</span></template>
      </bootstrap-tooltip>
    </div>
    <div class="col-xs-4 col-sm-12">
      <h6><%= t 'nodes.latest_serverspec_status' %></h6>
      <bootstrap-tooltip :title.once="serverspec_time">
        <template slot="content"><span :class="servertest_status_class" class="label">{{servertest_status}}</span></template>
      </bootstrap-tooltip>
    </div>
    <div class="col-xs-4 col-sm-12" v-if="!ec2.platform">
      <h6><%= t 'nodes.latest_update_status' %></h6>
      <bootstrap-tooltip :title.once="update_time">
        <template slot="content"><span :class="update_status_class" class="label">{{update_status}}</span></template>
      </bootstrap-tooltip>
    </div>
  </div>

  <%# Runlist table %>
  <div class="col-xs-12 col-sm-10">
    <h5 class="page-header">Runlist</h5>
    <table v-if="!ec2.runlist_error" class="table table-condensed">
      <thead>
        <tr>
          <th>type</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody v-if="!runlist_empty">
        <tr v-for="r in ec2.runlist" :class="{success: is_role(r)}">
          <td v-text="runlist_type(r)"></td>
          <td v-text="runlist_name(r)"></td>
        </tr>
      </tbody>
      <tbody v-if="runlist_empty">
        <tr>
          <td colspan="2"><%= t 'common.msg.empty', name: t('infrastructures.runlist') %></td>
        </tr>
      </tbody>
    </table>
    <p v-if="ec2.runlist_error"><%= t('infrastructures.failed_to_get_runlist') %></p>
  </div>

  <%# playbook_roles table %>
  <div class="col-xs-12 col-sm-10">
    <h5 class="page-header"><%= t 'nodes.playbook' %></h5>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>name</th>
      </tr>
      </thead>
      <tbody v-if="ec2.playbook_roles.length !== 0">
      <tr v-for="r in ec2.playbook_roles" :class="{success: is_role(r)}">
        <td v-text="r"></td>
      </tr>
      </tbody>
      <tbody v-if="ec2.playbook_roles.length === 0">
      <tr>
        <td><%= t 'common.msg.empty', name: t('nodes.playbook') %></td>
      </tr>
      </tbody>
    </table>
    <p v-if="ec2.runlist_error"><%= t('infrastructures.failed_to_get_runlist') %></p>
  </div>

  <%# Buttons %>
  <div class="col-xs-12" v-if="!inprogress">
    <div class="form-actions-top">
      <div :class="{'border-blink': cook_status === 'UnExecuted' && ec2.attribute_set}" class="btn-group dropup">
        <button @click="cook({whyrun: true})" :disabled="!ec2.attribute_set" class="btn btn-sm btn-primary">
          <%= t 'nodes.cook_in_why_run_mode'%>
        </button>
        <button type="button" :disabled="ec2.chef_error || ec2.before_bootstrap || !ec2.attribute_set" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a @click="cook({whyrun: false})" href="#"><%= t 'nodes.cook' %></a></li>
        </ul>
      </div>
      <button :disabled="ec2.chef_error || ec2.before_bootstrap" @click="edit_runlist()" class="btn btn-default btn-sm"><%= t 'nodes.btn.edit_runlist' %></button>
      <button :disabled="ec2.chef_error || ec2.before_bootstrap" @click="edit_attr()" class="btn btn-sm btn-default" :class="{'border-blink': !ec2.chef_error  && !ec2.before_bootstrap && !ec2.attribute_set}"><%= t 'nodes.btn.instance_settings' %></button>
      <button @click="edit_ansible_playbook()" class="btn btn-default btn-sm"><%= t 'nodes.btn.edit_playbook' %></button>
      <div class="dropup" style="display: inline-block" v-if="!ec2.platform">
        <button class="btn btn-sm btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          yum
          <span class="badge">{{ec2.number_of_security_updates | zero_as_null}}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" @click="yum_update('security', 'check')"><%=t('ec2_instances.btn.check_security_update')%></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" @click="yum_update('security', 'exec')"><%=t('ec2_instances.btn.exec_security_update')%></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" @click="yum_update('all', 'check')"><%=t('ec2_instances.btn.check_all_update')%></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" @click="yum_update('all', 'exec')"><%=t('ec2_instances.btn.exec_all_update')%></a></li>
          <li class="dropdown-header"><%=t('schedules.schedule')%></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" @click="open_yum_schedule_modal()"><%=t('schedules.change_schedule')%></a></li>
        </ul>
      </div>
      <div class="dropup" style="display: inline-block">
        <button :disabled="cook_status !== 'Success'" class="btn btn-sm btn-info" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
          <%= t('servertests.servertest') %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" @click="select_servertest()"><%= t('servertests.run') %></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" @click="serverspec_results()"><%= t('servertests.results') %></a></li>
        </ul>
      </div>
      <div class="pull-right">

        <span v-if="dishes_empty">
          <%= t 'nodes.msg.no_dishes' %>&nbsp;
          <button class="btn btn-info btn-sm disabled">
            <%= t 'nodes.btn.apply_dish' %>
          </button>
        </span>

        <div v-if="!dishes_empty" class="input-group">
          <select class="form-control input-sm" v-model="selected_dish" options="dish_option"></select>

          <div class="input-group-btn">
            <button class="btn btn-info btn-sm" :class="{disabled: selected_dish === '0'}" @click="apply_dish()">
              <%= t 'nodes.btn.apply_dish' %>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%# Cook in-progress console %>
  <div class="col-xs-12" v-if="inprogress">
    <div class="form-actions-top">
      <div-loader text="<%= t 'nodes.msg.cooking'%>"></div-loader>
    </div>
    <div>
      <%# わざと一行で書いてます %>
      <%# TODO: id をつけていないとスクロール出来ない。Vueでうまくやりたい %>
      <pre id="cook-status" class="pre-progress"><samp v-html="ansi_up(chef_console_text)"></samp></pre>
    </div>
  </div>
</div>

<%# modal for change scale ec2 %>
<div id="change-scale-modal" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header bg-warning">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('infrastructures.btn.change_scale') %></h4>
      </div>

      <div class="modal-body">
        <div class="alert alert-warning">
          <h4>
            <span class="glyphicon glyphicon-warning-sign"></span>
            Warning!
          </h4>
          <%= t('infrastructures.msg.change_scale_warning') %>
        </div>
        <label class="control-label"><%= t('infrastructures.instance_type') %></label>
        <select v-model="change_scale_type_to" class="form-control" :disabled="loading">
          <% EC2Instance::Types.each do |t| %>
            <option><%= t %></option>
          <% end %>
        </select>
      </div>

      <div class="modal-footer">
        <div v-if="!loading">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.close') %></button>
          <button @click="change_scale()" :disabled="!change_scale_type_to" class="btn btn-warning"><%= t('helpers.links.change') %></button>
        </div>
        <div-loader v-if="loading"></div-loader>
      </div>
    </div>
  </div>

</div>

<%# modal for change schedule %>
<div id="change-schedule-modal" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t 'schedules.change_schedule' %></h4>
      </div>

      <div class="modal-body">
        <div class="checkbox">
          <label>
            <input type="checkbox" v-model="schedule.enabled" :disabled="loading_s"><%= t 'schedules.run_periodically' %>
          </label>
        </div>
        <form class="form-inline">
          <div class="form-group" v-if="schedule.enabled">
            <select v-model="schedule.frequency" :disabled="loading_s" class="form-control">
              <% Schedule::frequencies.keys.each do |f| %>
                <option value=<%= f %>><%= t "schedules.frequency.#{f}" %></option>
              <% end %>
            </select>
            <select v-model="schedule.day_of_week" :disabled="loading_s" v-if="schedule.frequency === 'weekly'" class="form-control">
              <% Schedule::day_of_weeks.keys.each do |e| %>
                <option value=<%= e %>><%= t "schedules.day_of_week.#{e}" %></option>
              <% end %>
            </select>
            <select v-model="schedule.time" :disabled="loading_s" v-if="schedule.frequency !== 'intervals'" class="form-control">
              <% 0.upto(23) do |n| %>
                <option><%= n %></option>
              <% end %>
            </select>
            <label v-if="schedule.frequency !== 'intervals'"><%= t 'schedules.o_clock' %></label>
            <input type="number" min="1" max="12" v-model="schedule.time" :disabled="loading_s" v-if="schedule.frequency === 'intervals'" class="form-control">
            <label v-if="schedule.frequency === 'intervals'"><%= t 'schedules.hours' %></label>
            <div v-if="schedule.frequency === 'intervals'"><%= t 'schedules.next_run' %></div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div v-if="!loading_s">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.close') %></button>
          <button @click="change_schedule()" :disabled="!filled_all" class="btn btn-warning"><%= t('helpers.links.change') %></button>
        </div>
        <div-loader v-if="loading_s"></div-loader>
      </div>
    </div>
  </div>
</div>

<%= render 'infrastructures/modal/modal_snapshot_retention_policy' %>
<%= render 'infrastructures/modal/modal_create_volume' %>
