<div>
  <h3 class="page-header">
    {{physical_id}}&nbsp;<small>{{ec2.public_ip}}</small>
  </h3>

  <div class="col-xs-12">

    <h4 class="page-header"><%= t 'ec2_instances.description' %></h4>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th class="col-md-2"><%= t 'infrastructures.genre' %></th>
          <th class="col-md-5"><%= t 'common.value' %></th>
          <th class="col-md-5"><%= t 'common.actions' %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Status</td>
          <td>
            <%# TODO: I18n %>
            <div-loader v-if="ec2_status_changing" text="<%= t('ec2_instances.changing_status') %>"></div-loader>
            <span v-if="!ec2_status_changing">{{ec2.status}}</span>
          </td>
          <td>
            <bootstrap-tooltip title="<%= t('ec2_instances.change_status') %>">
              <div class="btn-group">
                <button href="#" v-class="ec2_btn_class" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" v-attr="disabled: ec2_status_changing">
                  <span class="glyphicon glyphicon-off"></span>&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li v-class="disabled: running"><a v-on="click: start_ec2()"  href="#">Start</a></li>
                  <li v-class="disabled: stopped"><a v-on="click: stop_ec2()"   href="#">Stop</a></li>
                  <li v-class="disabled: stopped"><a v-on="click: reboot_ec2()" href="#">Reboot</a></li>
                </ul>
              </div>
            </bootstrap-tooltip>
          </td>
        </tr>
        <tr>
          <td>Instance Type</td>
          <td>{{ec2.instance_type}}</td>
          <td>
            <button href="#change-scale-modal" role="button" class="btn btn-xs btn-warning" data-toggle="modal">
              <%= t 'infrastructures.btn.change_scale' %>
            </button>
          </td>
        </tr>
        <tr>
          <td>EBS</td>
          <td colspan="2">
            <span v-repeat="block_device: ec2.block_devices" class="dropdown">
              <bootstrap-tooltip title="Device name: {{block_device.device_name}}">
                <a v-on="click: volume_selected = block_device.ebs.volume_id" v-class="btn-primary: is_root_device(block_device.device_name)" class="dropdown-toggle btn btn-xs btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{block_device.ebs.volume_id}}
                  <span v-if="ec2.root_device_name === block_device.device_name" class="badge">Root</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header"><%= t('snapshots.snapshot') %></li>
                  <li><a v-on="click: create_snapshot(block_device.ebs.volume_id)" href="#"><%= t('snapshots.create_snapshot') %></a></li>
                  <li><a href="#snapshots-modal" data-toggle="modal"><%= t('snapshots.list_of_snapshots') %></a></li>
                  <li><a v-on="click: open_snapshot_schedule_modal(block_device.ebs.volume_id)" href="#"><%= t('snapshots.schedule_snapshot') %></a></li>
                </ul>
              </bootstrap-tooltip>
            </span>
          </td>
        </tr>
        <tr>
          <td>Public DNS</td>
          <td><%= link_to '{{ec2.public_dns}}', '//{{ec2.public_dns}}', target: '_blank' %></td>
          <td><%= copy_to_clipboard_button('ec2.public_dns') %></td>
        </tr>
        <tr>
          <td>Elastic IP</td>
          <td><%= link_and_dropdown_ssh('ec2.elastic_ip') %></td>
          <td><%= copy_to_clipboard_button('ec2.elastic_ip') %></td>
        </tr>
        <tr>
          <td>Public IP</td>
          <td><%= link_and_dropdown_ssh('ec2.public_ip') %></td>
          <td><%= copy_to_clipboard_button('ec2.public_ip') %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="alert alert-danger col-xs-12" v-if="ec2.chef_error">
  <h4>Connection Error</h4>
  {{ec2.chef_msg}}
</div>

<div v-if="ec2.before_bootstrap">
  <div class="col-xs-12">
    <div class="alert alert-warning">
      <%= t 'nodes.msg.before_bootstrap' %>
    </div>
  </div>

  <div class="form-actions-top col-xs-12">
    <button v-if="!loading" v-on="click: bootstrap()" class="btn btn-primary">
      <%= t 'nodes.btn.bootstrap_with_chef_server' %>
    </button>
    <div-loader v-if="loading"></div-loader>
  </div>
</div>

<%# show-node-infomation %>
<div v-if="!ec2.chef_error && !ec2.before_bootstrap && running">
  <h4 class="page-header col-xs-12"><%= t 'ec2_instances.settings' %></h4>

  <%# Status labels %>
  <div class="col-xs-12 col-sm-2">
    <h5 class="page-header"><%= t 'nodes.statuses' %></h5>

    <div class="col-xs-4 col-sm-12">
      <h6><%= t 'nodes.latest_cook_status' %></h6>
      <bootstrap-tooltip title="{{* cook_time}}">
        <span v-class="cook_status_class" class="label">{{cook_status}}</span>
      </bootstrap-tooltip>
    </div>
    <div class="col-xs-4 col-sm-12">
      <h6><%= t 'nodes.latest_serverspec_status' %></h6>
      <bootstrap-tooltip title="{{* serverspec_time}}">
        <span v-class="serverspec_status_class" class="label">{{serverspec_status}}</span>
      </bootstrap-tooltip>
    </div>
    <div class="col-xs-4 col-sm-12">
      <h6><%= t 'nodes.latest_update_status' %></h6>
      <bootstrap-tooltip title="{{* update_time}}">
        <span v-class="update_status_class" class="label">{{update_status}}</span>
      </bootstrap-tooltip>
    </div>
  </div>

  <%# Runlist table %>
  <div class="col-xs-12 col-sm-10">
    <h5 class="page-header">Runlist</h5>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>type</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody v-if="!runlist_empty">
        <tr v-repeat="ec2.runlist" v-class="success: is_role($value)">
          <td v-text="runlist_type($value)"></td>
          <td v-text="runlist_name($value)"></td>
        </tr>
      </tbody>
      <tbody v-if="runlist_empty">
        <tr>
          <td colspan="2"><%= t 'common.msg.empty', name: t('infrastructures.runlist') %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <%# Buttons %>
  <div class="col-xs-12" v-if="!inprogress">
    <div class="form-actions-top">
      <button v-on="click: cook()" v-class="border-blink: cook_status === 'UnExecuted' && ec2.attribute_set" v-attr="disabled: !ec2.attribute_set" class="btn btn-sm btn-primary">
        <%= t 'nodes.cook'%>
      </button>
      <button v-on="click: edit_runlist()" class="btn btn-default btn-sm"><%= t 'nodes.btn.edit_runlist' %></button>
      <button v-on="click: edit_attr()" class="btn btn-sm btn-default" v-class="border-blink: !ec2.attribute_set"><%= t 'nodes.btn.instance_settings' %></button>
      <div class="dropup" style="display: inline-block">
        <button class="btn btn-sm btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          yum
          <span class="badge">{{ec2.number_of_security_updates | zero_as_null}}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" v-on="click: yum_update('security', 'check')"><%=t('ec2_instances.btn.check_security_update')%></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" v-on="click: yum_update('security', 'exec')"><%=t('ec2_instances.btn.exec_security_update')%></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" v-on="click: yum_update('all', 'check')"><%=t('ec2_instances.btn.check_all_update')%></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" v-on="click: yum_update('all', 'exec')"><%=t('ec2_instances.btn.exec_all_update')%></a></li>
          <li class="dropdown-header"><%=t('schedules.schedule')%></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" v-on="click: open_yum_schedule_modal()"><%=t('schedules.change_schedule')%></a></li>
        </ul>
      </div>
      <div class="dropup" style="display: inline-block">
        <button v-attr="disabled: cook_status !== 'Success'" class="btn btn-sm btn-info" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
          <%= t('serverspecs.serverspec') %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" v-on="click: select_serverspec()">Run <%= t('serverspecs.serverspec') %></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" v-on="click: serverspec_logs()">Serverspec Logs</a></li>
        </ul>
      </div>
      <div class="pull-right">

        <span v-if="dishes_empty">
          <%= t 'nodes.msg.no_dishes' %>&nbsp;
          <button class="btn btn-info btn-sm disabled">
            <%= t 'nodes.btn.apply_dish' %>
          </button>
        </span>

        <div v-if="!dishes_empty" class="input-group">
          <select class="form-control input-sm" v-model="selected_dish" options="dish_option"></select>

          <div class="input-group-btn">
            <button class="btn btn-info btn-sm" v-class="disabled: selected_dish === '0'" v-on="click: apply_dish()">
              <%= t 'nodes.btn.apply_dish' %>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%# Cook in-progress console %>
  <div class="col-xs-12" v-if="inprogress">
    <div class="form-actions-top">
      <div-loader text="<%= t 'nodes.msg.cooking'%>"></div-loader>
    </div>
    <div>
      <%# わざと一行で書いてます %>
      <%# TODO: id をつけていないとスクロール出来ない。Vueでうまくやりたい %>
      <pre id="cook-status" class="pre-progress"><samp v-text="chef_console_text"></samp></pre>
    </div>
  </div>
</div>

<%# modal for change scale ec2 %>
<div id="change-scale-modal" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('infrastructures.btn.change_scale') %></h4>
      </div>

      <div class="modal-body">
        <label class="control-label"><%= t('infrastructures.instance_type') %></label>
        <select v-model="change_scale_type_to" class="form-control">
          <% EC2Instance::Types.each do |t| %>
            <option><%= t %></option>
          <% end %>
        </select>
      </div>

      <div class="modal-footer">
        <div v-if="!loading">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.close') %></button>
          <button v-on="click: change_scale()" v-attr="disabled: !change_scale_type_to" class="btn btn-warning"><%= t('helpers.links.change') %></button>
        </div>
        <div-loader v-if="loading"></div-loader>
      </div>
    </div>
  </div>

</div>

<%# modal for change schedule %>
<div id="change-schedule-modal" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t 'schedules.change_schedule' %></h4>
      </div>

      <div class="modal-body">
        <div class="checkbox">
          <label>
            <input type="checkbox" v-model="schedule.enabled" v-attr="disabled: loading_s"><%= t 'schedules.run_periodically' %>
          </label>
        </div>
        <form class="form-inline">
          <div class="form-group" v-if="schedule.enabled">
            <select v-model="schedule.frequency" v-attr="disabled: loading_s" class="form-control">
              <% Schedule::frequencies.keys.each do |f| %>
                <option value=<%= f %>><%= t "schedules.frequency.#{f}" %></option>
              <% end %>
            </select>
            <select v-model="schedule.day_of_week" v-attr="disabled: loading_s" v-if="schedule.frequency === 'weekly'" class="form-control">
              <% Schedule::day_of_weeks.keys.each do |e| %>
                <option value=<%= e %>><%= t "schedules.day_of_week.#{e}" %></option>
              <% end %>
            </select>
            <select v-model="schedule.time" v-attr="disabled: loading_s" v-if="schedule.frequency !== 'intervals'" class="form-control">
              <% 0.upto(23) do |n| %>
                <option><%= n %></option>
              <% end %>
            </select>
            <label v-if="schedule.frequency !== 'intervals'"><%= t 'schedules.o_clock' %></label>
            <input type="number" min="1" max="12" v-model="schedule.time" v-attr="disabled: loading_s" v-if="schedule.frequency === 'intervals'" class="form-control">
            <label v-if="schedule.frequency === 'intervals'"><%= t 'schedules.hours' %></label>
            <div v-if="schedule.frequency === 'intervals'"><%= t 'schedules.next_run' %></div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div v-if="!loading_s">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.close') %></button>
          <button v-on="click: change_schedule()" v-attr="disabled: !filled_all" class="btn btn-warning"><%= t('helpers.links.change') %></button>
        </div>
        <div-loader v-if="loading_s"></div-loader>
      </div>
    </div>
  </div>
</div>

<%# snapshots modal %>
<div id="snapshots-modal" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <button class="close" style="margin-right: 10px;" v-on="click: load_snapshots()" v-attr="disabled: loading_snapshots"><small><span class="glyphicon glyphicon-refresh"></span></small></button>
        <h4 class="modal-title">Snapshots of {{volume_selected}}</h4>
      </div>

      <div class="modal-body">
        <div-loader v-if="loading_snapshots"></div-loader>
        <table v-if="!loading_snapshots" class="table table-condensed table-hover">
          <thead>
            <th></th>
            <th class=""         v-on="click: sort_by('tags.Name')"  >Name<span      v-class="caret: sorting_by('tags.Name'),   caret-reversed: sort_asc"></span></th>
            <th class="col-md-2" v-on="click: sort_by('snapshot_id')">ID<span        v-class="caret: sorting_by('snapshot_id'), caret-reversed: sort_asc"></span></th>
            <th class="col-md-2" v-on="click: sort_by('state')"      >State<span     v-class="caret: sorting_by('state'),       caret-reversed: sort_asc"></span></th>
            <th class=""         v-on="click: sort_by('start_time')" >Date<span      v-class="caret: sorting_by('start_time'),  caret-reversed: sort_asc"></span></th>
            <th class=""         v-on="click: sort_by('encrypted')"  >Encrypted<span v-class="caret: sorting_by('encrypted'),   caret-reversed: sort_asc"></span></th>
          </thead>
          <tbody>
            <tr v-repeat="snapshot: snapshots" v-on="click: select_snapshot(snapshot)" v-class="info: snapshot.selected" v-transition="fade">
              <td><input v-model="snapshot.selected" type="checkbox"></td>
              <td v-text="snapshot.tags.Name" style="word-break: break-all"></td>
              <td v-text="snapshot.snapshot_id"></td>
              <td v-text="snapshot_status(snapshot)"></td>
              <td v-text="toLocaleString(snapshot.start_time)"></td>
              <td v-text="snapshot.encrypted"></td>
            </tr>
            <tr v-if="!snapshots.length">
              <td colspan="8"><%= t('snapshots.msg.no_snapshots') %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <div v-if="!loading">
          <button v-on="click: create_snapshot(volume_selected)" class="btn btn-primary"><%= t('snapshots.btn.create') %></button>
          <button v-on="click: delete_selected_snapshots()" v-attr="disabled: !selected_any || loading_snapshots" class="btn btn-danger"><%= t('helpers.links.destroy') %></button>
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.close') %></button>
        </div>
        <div-loader v-if="loading"></div-loader>
      </div>
    </div>
  </div>
</div>
