<h3 class="page-header"><%= t 'nodes.playbook' %></h3>

<div class="col-md-6 col-sm-6">
  <%# ansible_role %>
  <div class="col-md-12 col-sm-12">
    <h5 class="page-header"><%= t 'nodes.ansible_role' %></h5>
    <div class="form-group">
      <select v-model="selected_roles" @dblclick="add_role()" multiple="multiple" class="form-control playbook-selectbox-height">
        <option v-for="r in roles">{{r}}</option>
      </select>
    </div>
    <div class="form-group">
      <button @click="add_role()" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
  </div>
</div>

<%# playbook_roles %>
<div class="col-md-6 col-sm-6">
  <div class="col-md-12 col-sm-12">
    <h5 class="page-header"><%= t 'nodes.playbook_roles' %></h5>
    <div class="form-group">
      <select v-model="selected_playbook_roles" @dblclick="del()" multiple="multiple" class="form-control playbook-selectbox-height">
        <option v-for="r in playbook_roles">{{r}}</option>
      </select>
    </div>
  </div>

  <div class="col-md-12 col-sm-12">
    <div class="form-group">
      <button @click="up()"   class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></button>
      <button @click="down()" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></button>
      &nbsp;
      <button @click="del()"  class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
  </div>
</div>

<%# extra_vars %>
<div class="col-md-12 col-sm-12">
  <h5 class="page-header"><%= t 'nodes.extra_vars' %></h5>
  <div class="form-group">
    <input type="text" v-model="extra_vars" class="form-control" />
  </div>
</div>

<%# Buttons %>
<div class="col-md-12 col-sm-12">
  <div v-if="!loading" class="form-actions-top">
    <button @click="update()"   class="btn btn-sm btn-primary"><%= t 'common.btn.save_changes' %></button>
    <button @click="show_ec2()" class="btn btn-sm btn-default"><%= t 'helpers.links.cancel' %></button>
  </div>
  <div v-if="loading" class="form-actions-top">
    <div-loader></div-loader>
  </div>
</div>
