<script id="elb-tabpane-template" type="text/template">
<h3 class="page-header">{{* physical_id}}</h3>

<div class="col-sm-12">
  <h4 class="page-header">DNS name</h4>
  <a v-attr="href: 'http://' + dns_name" target="_blank">{{dns_name}}</a>

  <h4 class="page-header"><%=t('ec2_instances.listeners')%></h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%=t('ec2_instances.protocol')%></th> <th><%=t('ec2_instances.lb_port')%></th> <th><%=t('ec2_instances.instance_protocol')%></th> <th><%=t('ec2_instances.instance_port')%></th> <th><%=t('ec2_instances.expiration_date')%></th>
      </tr>
    </thead>

    <tbody>
      <tr v-repeat="listeners">
        <td v-text="protocol"></td>
        <td v-text="load_balancer_port"></td>
        <td v-text="instance_protocol"></td>
        <td v-text="instance_port"></td>
        <td v-text="expiration_date(expiration)"></td>
      </tr>
    </tbody>
  </table>

  <h4 class="page-header"><%=t('ec2_instances.instances')%></h4>
  <div class="col-md-4 col-sm-6 col-xs-12" v-repeat="e: ec2_instances">
    <div class="panel" v-class="panel_class(e.state)">
      <div class="panel-heading">
          <a href="#" v-on="click: show_ec2(e.instance_id)">{{* e.instance_id}}</a>&nbsp;
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th><%=t('ec2_instances.state')%></td>
            <td><span class="label" v-class="label_class(e.state)">{{* e.state}}</span></td>
          </tr>
          <tr>
            <th><%=t('ec2_instances.reason_code')%></td>
            <td>{{* e.reason_code}}</td>
          </tr>
          <tr>
            <th><%=t('ec2_instances.description')%></td>
            <td>{{* e.description}}</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer">
        <button class="btn btn-danger btn-xs" v-on="click: deregister(e.instance_id)"><%= I18n.t('ec2_instances.btn.deregister') %></button>
      </div>
    </div>
  </div>

  <div class="form-actions-top col-xs-12" v-if="unregistereds.length !== 0">
    <div class="input-group col-xs-12 col-sm-5">
      <select class="form-control input-sm" v-model="selected_ec2">
        <option>Select!</option>
        <option v-repeat="unregistereds" v-attr="value: physical_id">{{* screen_name}}</option>
      </select>
      <div class="input-group-btn">
        <button class="btn btn-primary btn-sm" v-on="click: register()" v-attr="disabled: !selected_ec2">
          <%= I18n.t('ec2_instances.btn.register') %>
        </button>
      </div>
    </div>
  </div>
</div>
</script>
