<!-- component template -->
  <table class="table table-hover ssp">
  <thead>
    <tr>
      <th v-for=" key in columns"
          :class="{active: sortKey == key}"
          @click="sortBy(key)">
        <span v-html="key | wrap option"></span>
          <span v-if="key !== 'id' && key !== 'role'" class="pull-right glyphicon" :class="sortOrders[key] > 0? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span>
          <i v-if="key === 'role'"><a href="#" id="role" @click="pop()"
            data-content="<%= t('users.msg.role')%>"
            data-placement="right"
            rel="popover"
            data-original-title="<%= t('users.role') %>"
            class="pull-right popover-help">
            <span class="glyphicon glyphicon-question-sign"></span></a>
          </i>
      </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="
        entry in data
        | filterBy filterKey
        | count
        | orderBy sortKey sortOrders[sortKey]
        | paginate">
        <td v-for="key in columns" @click="select_entry(entry)" @dblclick="show_entry(entry)" :class="{active: picked == entry}">
          <input v-if="$index == 0" type="radio" v-model="picked" v-bind:value="entry"/>
          <span id="{{key}}" v-html="entry[key] | listen key option lang"></span>
        </td>
      </tr>
      <tr  v-if="filteredLength === 0 && data.length > 0">
        <td v-if="lang === 'en'"><h4> No results for <span class="text text-info">"{{filterKey}}"</span> was found. </h4></td>
        <td v-if="lang === 'ja'"><h4> <span class="text text-info">"{{filterKey}}"</span> に一致する情報は見つかりませんでした。 </h4></td>
      </tr>
    </tbody>
  </table>
  <nav v-if="data.length >= 10 && filteredLength >= 10">
    <ul class="pager">
      <li :class="{disabled: isStartPage}"><a @click="showPrev()" ><span aria-hidden="true">&larr; <%= t 'monitoring.btn.prev' %></a></li>
        <label><%= t 'monitoring.msg.page' %>: &nbsp </label><strong v-html="pageNumber + 1"></strong> <%= t 'monitoring.msg.of' %>&nbsp<span v-html="data.length / pages  | roundup"></span>
      <li :class="{disabled: isEndPage}"><a @click="showNext()" :disabled="!isEndPage"></span><%= t 'monitoring.btn.next' %> <span aria-hidden="true">&rarr;</a></li>
    </ul>
  </nav>
