<!-- component template -->
<script type="text/x-template" id="grid-template">
  <table class="table table-hover ssp">
  <thead>
    <tr>
      <th v-for=" key in columns"
          :class="{active: sortKey == key}"
          @click="sortBy(key)">
        <span v-html="key | wrap option"></span>
          <span v-if="key !== 'id' && key !== 'role'" class="pull-right glyphicon" :class="sortOrders[key] > 0? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span>
          <i v-if="key === 'role'"><a href="#" id="role" @click="pop()"
            data-content="<%= t('users.msg.role')%>"
            data-placement="right"
            rel="popover"
            data-original-title="<%= t('users.role') %>"
            class="pull-right popover-help">
            <span class="glyphicon glyphicon-question-sign"></span></a>
          </i>
      </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="
        entry in data
        | filterBy filterKey
        | orderBy sortKey sortOrders[sortKey]
        | paginate">
        <td v-for="key in columns">
          <span id="{{key}}" v-html="entry[key] | listen key option lang"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <nav v-if="data.length >= 10">
    <ul class="pager">
      <li :class="{disabled: isStartPage}"><a @click="showPrev()" ><span aria-hidden="true">&larr; <%= t 'monitoring.btn.prev' %></a></li>
        <label><%= t 'monitoring.msg.page' %>: &nbsp </label><strong v-html="pageNumber + 1"></strong> <%= t 'monitoring.msg.of' %>&nbsp<span v-html="data.length / pages  | roundup"></span>
      <li :class="{disabled: isEndPage}"><a @click="showNext()" :disabled="!isEndPage"></span><%= t 'monitoring.btn.next' %> <span aria-hidden="true">&rarr;</a></li>
    </ul>
  </nav>
</script>

<!-- demo root element -->

<div id="indexElement" v-el:node>
  <div class="input-group">
      <input type="text" name="query" v-model="searchQuery" class="form-control" placeholder="<%= t 'infrastructures.search' %>">
      <hr>
  </div>
  <demo-grid
  :data="gridData"
  :columns="gridColumns"
  :filter-key="searchQuery">
  </demo-grid>
</div>

<div id="empty" style="display: none;"></div>
<span id="loading"><div class="loader"></div> <%= t 'common.msg.loading' %></span>
<hr>
