<div v-if="before_register">
  <h3 class="page-header"><%= I18n.t('monitoring.register_host')%></h3>
  <div class="alert alert-warning">
    <%= t 'monitoring.msg.before_create_host' %>
  </div>
  <button v-if="!creating"  data-toggle="modal" data-target="#register-warning" class="btn btn-primary"><%= t 'monitoring.btn.create' %> </button>
  <div-loader v-if="creating"></div-loader>
  <%= render 'monitorings/modal_trigger_register_description' %>
</div>

<div v-if="!before_register">
  <div class="col-md-12 col-sm-12" v-if="before_setting">
    <h3 class="page-header"><%= I18n.t('monitoring.title')%>
    <div class="alert alert-warning h5">
      <%= t 'monitoring.msg.not_selected' %>
    </div>
    </h3>
  </div>

  <div v-if="!before_setting">
    <div style="margin-top:30px">
      <div class="col-md-2 col-sm-3">
        <div class="panel-group">
          <div v-if="uncommons.length !== 0">
            <div class="panel panel-default" v-repeat="r: resources">
              <div class="panel-heading">
                <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" href="#monitorings-{{*r.physical_id}}">{{*r.physical_id}}</a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="monitorings-{{r.physical_id}}">
                <div class="list-group">
                  <a href="#" v-repeat="uncommons" class="list-group-item" v-on="click: show_zabbix_graph(r.physical_id, item)">{{*name}}</a>
                  <a href="#" v-on="click: show_cloudwatch_graph(r.physical_id)" class="list-group-item">NetworkInOut</a>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default" v-if="commons.length !== 0">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" href="#shared">Share</a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="shared">
              <div class="list-group">
                <a v-repeat="commons" href="#" class="list-group-item" v-on="click: show_url()">{{*name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="show_range">
          <div class='col-md-3'>
              <div class="form-group">
                  <div class='input-group date'>
                      <span class="input-group-addon">
                          <span>From: </span>
                      </span>
                      <input v-datepicker="dt" type='text' class="form-control" placeholder="Start"/>
                      <input type="hidden">
                  </div>
              </div>
          </div>
          <div class='col-md-4'>
              <div class="form-group">
                  <div class='input-group date'>
                      <span class="input-group-addon">
                          <span>To: </span>
                      </span>
                      <input v-attr="disabled: isTo" v-datepicker="dt2" type='text' class="form-control" placeholder="End"/>
                      <span class="input-group-addon">
                          <button v-attr="disabled: isShow" v-on="click: showDate" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-calendar"></span> Show</button>
                      </span>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-10 col-sm-9">
        <div-loader v-if="loading_graph"></div-loader>
        <div v-if="!loading_graph">

          <%# Graph %>
          <pre class="alert alert-warning h5" v-if="error_message">{{error_message}}</pre>

          <div id="graph" v-if="!showing_url" style="height: 300px">
          </div>
          <%# URL %>
          <div class="row" v-if="showing_url">
            <div class="col-md-11 col-sm-12">
              <blockquote class="h5" v-repeat="url_status">
                <div class="h5">
                  <strong><u>{{name}}</u>
                    <span v-class="text-success: status === 'OK', text-danger: status !== 'OK'">{{status}}</span>
                  </strong>
                </div>

                <table class="table">
                  <thead>
                    <tr>
                      <th class="col-md-3">URL</th>
                      <th class="col-md-3">Response Code</th>
                      <th class="col-md-4">Download Speed (bytes/sec)</th>
                      <th class="col-md-2">Response Time</th>

                      <!-- TODO -->
                      <th class="col-md-1" style="border: none"><a class="btn btn-info btn-xs" href="#">グラフ</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-repeat="data">
                      <td>{{url}}</td>
                      <td>{{response_code}}</td>
                      <td>{{download_speed}}</td>
                      <td>{{response_time}}</td>
                    </tr>
                  </tbody>
                </table>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12 col-sm-12" v-if="!before_setting">
    <h4 class="page-header">Recent Problems</h4>
    <div-loader v-if="loading_problems"></div-loader>

    <div style="margin-bottom: 50px" v-if="!loading_problems">
      <span v-if="no_problem">No Recent Errors</span>
      <table v-if="!no_problem" class="table table-condensed">
        <thead>
          <tr>
            <th>hosts</th> <th>triggerid</th> <th>description</th> <th>priority</th> <th>lastchange</th>
          </tr>
        </thead>
        <tbody>
          <tr v-repeat="p: problems" v-class="danger: p.value === '1'">
            <td v-text="p.hosts"></td>
            <td v-text="p.triggerid"></td>
            <td v-text="p.description"></td>
            <td v-text="p.priority"></td>
            <td v-text="p.lastchange"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
