<h3><%= I18n.t('operation_scheduler.title')%> </h3>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>PHYSICAL ID</th>
      <th>Name</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr v-repeat="ec2: instances.ec2_instances">
      <td>{{ec2.physical_id}}</td>
      <td>{{ec2.screen_name}}</td>
      <td>
        <button class="btn btn-xs btn-primary"  v-on="click: get_sched(ec2)"><%= glyphicon 'calendar' %> <%= I18n.t('operation_scheduler.btn.view_sched')%></button>
        <button class="btn btn-xs btn-success"  v-on="click: manage_sched(ec2)" data-toggle="modal" data-target="#manage_schedule">
          <%= glyphicon 'edit' %> <%= I18n.t('operation_scheduler.btn.manage_sched')%></button>
      </td>
    </tr>
  <!--TODO: other instances-->
  </tbody>
</table>

<%= render 'infrastructures/modal/modal_manage_schedule' %>

<div-loader v-if="event_loading"></div-loader>
<div class="container" v-if="!event_loading">
  <div id="calendar"></div>
</div>
