<div>
  <h3 class="page-header"><%= t 'servertests.select_serverspec' %></h3>

  <div class="col-md-6 col-sm-6">
    <h4 class="page-header"><%= t 'servertests.global' %></h4>

    <div v-for="s in globals" class="checkbox">
      <label class="checkbox">
        <input type="checkbox" v-model="s.checked">
        {{s.name}}
      </label>
      <p class="muted">
        <small>{{s.description}}</small>
      </p>
    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <h4 class="page-header"><%= t 'servertests.individual' %></h4>
    <div v-for="s in individuals" class="checkbox">
      <label class="checkbox">
        <input type="checkbox" v-model="s.checked">
        {{s.name}}
      </label>
      <p class="muted">
        <small>{{s.description}}</small>
      </p>
    </div>
  </div>

  <div class="col-md-12 col-sm-12">
    <div v-if="!loading" class="form-actions-top">
      <button @click="run()" class="btn btn-sm btn-primary" :disabled="!can_run"><%= t 'servertests.btn.run' %></button>
      <button class="btn btn-sm btn-warning" href="#change-schedule-modal" data-toggle="modal"><%= t 'schedules.change_schedule' %></button>
      <button @click="show_ec2()" class="btn btn-sm btn-default"><%= t 'helpers.links.cancel' %></button>
    </div>

    <div v-if="loading" class="form-actions-top">
      <div-loader></div-loader>
    </div>
  </div>

<%# modal for change serverspec schedule %>
  <div id="change-schedule-modal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%= t 'schedules.change_schedule' %></h4>
        </div>

        <div class="modal-body">
          <div class="checkbox">
            <label>
              <input type="checkbox" v-model="enabled" :disabled="loading_s"><%= t 'schedules.run_periodically' %>
            </label>
          </div>
          <form class="form-inline">
            <div class="form-group" v-if="enabled">
              <select v-model="frequency" :disabled="loading_s" class="form-control">
                <% ServertestSchedule::frequencies.keys.each do |f| %>
                  <option value=<%= f %>><%= t "schedules.frequency.#{f}" %></option>
                <% end %>
              </select>
              <select v-model="day_of_week" :disabled="loading_s" v-if="frequency === 'weekly'" class="form-control">
                <% ServertestSchedule::day_of_weeks.keys.each do |e| %>
                  <option value=<%= e %>><%= t "schedules.day_of_week.#{e}" %></option>
                <% end %>
              </select>
              <select v-model="time" :disabled="loading_s" v-if="frequency !== 'intervals'" class="form-control">
                <% 0.upto(23) do |n| %>
                  <option><%= n %></option>
                <% end %>
              </select>
              <label v-if="frequency !== 'intervals'"><%= t 'schedules.o_clock' %></label>
              <input type="number" min="1" max="12" v-model="time" :disabled="loading_s" v-if="frequency === 'intervals'" class="form-control">
              <label v-if="frequency === 'intervals'"><%= t 'schedules.hours' %></label>
              <div v-if="frequency === 'intervals'"><%= t 'schedules.next_run' %></div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <div v-if="!loading_s">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.close') %></button>
            <button @click="change_schedule()" :disabled="!all_filled" class="btn btn-warning"><%= t('helpers.links.change') %></button>
          </div>
          <div-loader v-if="loading_s"></div-loader>
        </div>
      </div>
    </div>
  </div>
</div>
