<% provide(:title, "Chef Server") %>
<h1 class="page-header">Chef Server</h1>

<div class="jumbotron">
  <h2><%= t('chef_servers.btn.download_keys') %></h2>
  <p><%= t('chef_servers.msg.chef_instruction') %></p>
  <p>
    <%= link_to export_config_chef_servers_path, {class: 'btn btn-lg btn-primary'} do %>
      <span class="glyphicon glyphicon-download-alt">
        <%= t('common.btn.download') %>
      </span>
    <% end %>
  </p>
</div>

<div class="jumbotron">
  <h2><%= t('chef_servers.msg.set_config') %></h2>
  <p><%= t('chef_servers.msg.set_config_instruction') %></p>
  <p>
    <form method="POST" action="<%= set_config_chef_servers_path %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
      <button type="submit" class="btn btn-lg btn-primary">
        <span class="glyphicon glyphicon-saved">
          <%= t('chef_servers.btn.set_config') %>
        </span>
      </button>
    </form>
  </p>
</div>

