<%= form_for @infrastructure, url: update_keypair_infrastructure_path, html: { method: 'PATCH', class: 'form-horizontal', multipart: true, role: 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :project_name, t('projects.project'), class: 'control-label col-sm-2' %>
    <div class="col-sm-5">
      <%= f.text_field :project_name, value: @infrastructure.project.name, class: 'form-control', readonly: true %>
      <%= f.hidden_field :project_id %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :stack_name, t('infrastructures.stackname'), class: 'control-label col-sm-2' %>
    <div class="col-sm-5">
      <%= f.text_field :stack_name, class: 'form-control', readonly: true %>
    </div>
  </div>
  <%= f.hidden_field :region %>

  <div class="form-group">
    <label class="col-sm-2 control-label"><%= t 'app_settings.aws_keypair' %></label>
    <div class="col-sm-5">
      <p class="help-block"><%= t('ec2_private_keys.msg.enter_or_generate') %></p>
      <p><button class="btn btn-default btn-sm create_ec2_key"><%= t 'ec2_private_keys.btn.new' %></button></p>
      <label for="keypair_name" class="control-label"><%= t 'app_settings.keypair_name' %></label>
      <input id="keypair_name" class="form-control ec2-private-key-name allow-empty" type="text" name="infrastructure[keypair_name]" required maxlength="255">

      <label for="keypair_value" class="control-label"><%= t 'app_settings.private_key' %></label>
      <textarea id="keypair_value" class="form-control ec2-private-key-value allow-empty" name="infrastructure[keypair_value]" placeholder="<%= t 'common.msg.key_droppable' %>" rows="7" required></textarea>
      <p class="help-block"><%= t('infrastructures.msg.help_keypair') %></p>
    </div>
  </div>


  <div class="form-actions-top">
    <%= f.submit nil, class: 'btn btn-primary create' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
      infrastructures_path(project_id: @infrastructure.project_id),
      class: 'btn btn-default' %>
  </div>
<% end %>
