<div class="row">
  <div class="span">
    <table class="table table-bordered text-center">
      <thead>
      <!--Top headers-->
      <tr>
        <th rowspan="2"><%= t 'security_groups.description' %></th>
        <th rowspan="2"><%= t 'security_groups.group_id' %></th>
        <th class="text-center" colspan="4"><%= t 'security_groups.inbound' %></th>
        <th class="text-center" colspan="4"><%= t 'security_groups.outbound' %></th>
      </tr>
      <!--For inbound and outbound subheaders-->
      <tr>
        <!--<th>Type</th>-->
        <th><%= t 'security_groups.type' %></th>
        <th><%= t 'security_groups.protocol' %></th>
        <th><%= t 'security_groups.port_range' %></th>
        <th><%= t 'security_groups.source' %></th>
        <!--<th>Type</th>-->
        <th><%= t 'security_groups.type' %></th>
        <th><%= t 'security_groups.protocol' %></th>
        <th><%= t 'security_groups.port_range' %></th>
        <th><%= t 'security_groups.destination' %></th>
      </tr>
      </thead>
      <!--Contents-->
      <tbody>
        <tr v-for="record in table_data">
          <template v-for="column in record">
            <th v-if="column.th" style="width: 20%" :rowspan="column.row">{{column.text}}</th>
            <% #プロトコルとポート範囲で文字列と数値があるのであえて==にしています %>
            <td v-else :rowspan="column.row">{{column.text == "-1" ? "All" : column.text}}</td>
          </template>
        </tr>
      </tbody>
    </table>
  </div>
</div>
