<script id="infra-show-template" type="text/template">
  <div>
    <div v-show="infra_loading">
      <span><div class="loader"></div> Loading...</span>
    </div>
    <div v-cloak v-show="!infra_loading">

      <!-- Back to top Button -->
      <a href="#" class="back-to-top" style="display: none;">
        <i class="fa fa fa-angle-double-up"></i>
      </a>

      <section>
          <nav class="navbar navbar-default">
            <div class="container-fluid">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
                  <span class="sr-only">Toggle navigation</span>
                  <%= fa 'caret-square-o-down fa-2x' %>
                </button>
                <h3 href="#">
                  <%= t 'infrastructures.stack_info' %>
                    <small>#{{current_infra.stack.name}} :
                      <span class="label" :class="status_label_class">{{current_infra.stack.status.name}}</span>
                    </small>
                </h3>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">

                <ul class="nav navbar-nav navbar-right">
                  <!-- Infrastructure Control TAB -->
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <%= t 'infrastructures.operations' %>&nbsp; <b class="pull-right"><%= fa 'caret-down' %></b>
                    </a>
                    <ul class="dropdown-menu rightMenu" role="menu" aria-labelledby="dropdownMenu">
                      <li :class="{disabled : current_infra.token_invalid}">
                        <a href="#" tabindex="-1" @click="show_add_modify()"><%= t 'infrastructures.btn.apply_template' %></a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#" tabindex="-1" @click="show_add_ec2()"><%= t 'infrastructures.add_ec2' %></a></li>
                      <li>
                        <a href="#" tabindex="-1" @click="show_sec_groups()"><%= t 'security_groups.btn.security_groups' %></a>
                      </li>
                      <li>
                        <a href="#" tabindex="-1" @click="show_cf_history()"><%= t 'infrastructures.btn.template_history' %></a>
                      </li>
                    </ul>
                  </li>


                  <li class="dropdown" :class="{disabled : no_stack}">
                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <%= t 'infrastructures.monitoring' %>&nbsp; <b class="pull-right"><%= fa 'caret-down' %></b>
                    </a>
                    <ul class="dropdown-menu rightMenu" role="menu" aria-labelledby="dropdownMenu">
                      <li :class="{disabled : no_stack}">
                        <a href="#" id="show-monitoring" tabindex="-1" @click="show_monitoring()"><%= t 'monitoring.show' %></a>
                      </li>
                      <li :class="{disabled : no_stack}">
                        <a href="#" tabindex="-1" @click="show_edit_monitoring()"><%= t 'monitoring.configuration' %></a>
                      </li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <%= t 'infrastructures.logs' %>&nbsp; <b class="pull-right"><%= fa 'caret-down' %></b>
                    </a>
                    <ul class="dropdown-menu rightMenu" role="menu" aria-labelledby="dropdownMenu">
                      <li :class="{disabled : no_stack}">
                        <a href="#" tabindex="-1" @click="show_event_logs()"><%= t 'infrastructures.btn.stack_eventlog' %></a>
                      </li>
                      <li>
                        <a href="#" tabindex="-1" @click="show_infra_logs()"><%= t 'infrastructures.btn.infrastructure_log' %></a>
                      </li>
                    </ul>
                  </li>


                </ul>
              </div>

            </div>

          </nav>

        <div>

          <ul class="nav nav-tabs" role="tablist">
             <%# Resource TABs %>
             <%= render 'resource_tabs' %>

             <li class="active">
               <a v-if="no_stack"    @click="show_tabpane('default')"><%= t 'infrastructures.no_stack_info' %></a>
               <a v-if="in_progress" @click="show_tabpane('default')"><%= t 'infrastructures.in_progress' %></a>
               <a v-if="stack_fail"  @click="show_tabpane('default')"><%= t 'infrastructures.stack_fail' %></a>
               <a v-if="no_resource" @click="show_tabpane('default')"><%= t 'infrastructures.no_resource' %></a>
             </li>
           </ul>

          <div class="tabbable">
            <%# create tab-panes %>
            <div class="tab-pane" >

              <%# loading tabpane %>
              <div v-if="loading">
                <div-loader></div-loader>
              </div>

              <div v-show="!loading" v-if="tabpane_active('default')">
                <%# No stack %>
                <div v-if="no_stack">
                  <div id="initTop" class="jumbotron">
                    <div class="container">
                      <h3 class="page-header"><%= t 'infrastructures.msg.no_stack_info' %></h3>
                      <pre v-text="current_infra.stack.message">
                      </pre>
                    </div>
                  </div>
                </div>

                <%# IN PROGRESS %>
                <div v-if="is_progress()">
                  <span><%= loading_with_message(t('infrastructures.msg.check_intervals')) %></span>
                </div>

                <%# Stack Event Table %>
                <stack-events-table :events="current_infra.events" :enable_sort="false"></stack-events-table>

                <%# No resource %>
                <div v-if="no_resource">
                  <div class="jumbotron">
                    <div class="container">
                      <%= t('infrastructures.msg.no_resource')%>
                    </div>
                  </div>
                </div>
              </div>

              <div v-show="!loading">
                <add-modify-tabpane         v-if="tabpane_active('add_modify')"         :templates.once="current_infra.templates" :result.sync="current_infra.add_modify"></add-modify-tabpane>
                <insert-cf-params           v-if="tabpane_active('insert-cf-params')"   :infra_id.once="current_infra.id"></insert-cf-params>
                <add-ec2-tabpane            v-if="tabpane_active('add-ec2')"            :infra_id.once="current_infra.id"></add-ec2-tabpane>
                <cf-history-tabpane         v-if="tabpane_active('cf_history')"         :infra_id.once="current_infra.id"></cf-history-tabpane>
                <stack-events-table         v-if="tabpane_active('event_logs')"         :events.once="current_infra.events" :enable_sort="true"></stack-events-table>
                <security-groups-tabpane    v-if="tabpane_active('security_groups')"    :infra_id.once="current_infra.id" :ec2_instances.once="current_infra.resources.ec2_instances"></security-groups-tabpane>
                <monitoring-tabpane         v-if="tabpane_active('monitoring')"         :infra_id.once="current_infra.id"></monitoring-tabpane>
                <edit-monitoring-tabpane    v-if="tabpane_active('edit-monitoring')"    :infra_id.once="current_infra.id"></edit-monitoring-tabpane>
                <infra-logs-tabpane         v-if="tabpane_active('infra_logs')"         :infra_id.once="current_infra.id"></infra-logs-tabpane>
                <ec2-tabpane                v-if="tabpane_active('ec2')"                :infra_id.once="current_infra.id" :physical_id.once="tabpaneGroupID"></ec2-tabpane>
                <rds-tabpane                v-if="tabpane_active('rds')"                :infra_id.once="current_infra.id" :physical_id.once="tabpaneGroupID"></rds-tabpane>
                <elb-tabpane                v-if="tabpane_active('elb')"                :infra_id.once="current_infra.id" :physical_id.once="tabpaneGroupID"></elb-tabpane>
                <s3-tabpane                 v-if="tabpane_active('s3')"                 :infra_id.once="current_infra.id" :physical_id.once="tabpaneGroupID"></s3-tabpane>
                <edit-runlist-tabpane       v-if="tabpane_active('edit_runlist')"       :infra_id.once="current_infra.id" ></edit-runlist-tabpane>
                <edit-attr-tabpane          v-if="tabpane_active('edit_attr')"          :infra_id.once="current_infra.id" ></edit-attr-tabpane>
                <serverspec-tabpane         v-if="tabpane_active('serverspec')"         :infra_id.once="current_infra.id" ></serverspec-tabpane>
                <servertest-results-tabpane v-if="tabpane_active('serverspec_results')" :infra_id.once="current_infra.id" :columns.once="spec_Columns" :physical_id="tabpaneGroupID"   ></servertest-results-tabpane>
                <operation-sched-tabpane    v-if="tabpane_active('operation-sched')"    :infra_id.once="current_infra.id" :columns.once="ops_sched_Columns" :resources="resources"></operation-sched-tabpane>
                <view-rules-tabpane         v-if="tabpane_active('view-rules')"         :infra_id.once="current_infra.id" :security_groups.once="sec_group" :physical_id.once="tabpaneGroupID" :instance_type.once="instance_type"></view-rules-tabpane>
                <edit-ansible-playbook-tabpane       v-if="tabpane_active('edit_ansible_playbook')"       :infra_id.once="current_infra.id" ></edit-ansible-playbook-tabpane>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</script>

<script id="stack-events-table-template"      type="text/template"> <%= render 'vue/stack_events_table' %> </script>
<script id="add-modify-tabpane-template"      type="text/template"> <%= render 'vue/add_modify_tabpane' %> </script>
<script id="insert-cf-params-template"        type="text/template"> <%= render 'vue/insert_cf_params' %> </script>
<script id="add-ec2-tabpane-template"         type="text/template"> <%= render 'vue/add_ec2_tabpane' %> </script>
<script id="cf-history-tabpane-template"      type="text/template"> <%= render 'vue/cf_history_tabpane' %> </script>
<script id="infra-logs-tabpane-template"      type="text/template"> <%= render 'vue/infra_logs_tabpane'  %> </script>
<script id="security-groups-tabpane-template" type="text/template"> <%= render 'vue/security_groups_tabpane' %> </script>
<script id="monitoring-tabpane-template"      type="text/template"> <%= render 'vue/monitoring_tabpane' %> </script>
<script id="edit-monitoring-tabpane-template" type="text/template"> <%= render 'vue/edit_monitoring_tabpane' %> </script>
<script id="update-template-tabpane-template" type="text/template"> <%= render 'vue/update_template_tabpane' %> </script>
<script id="rds-tabpane-template"             type="text/template"> <%= render 'vue/rds_tabpane'  %> </script>
<script id="elb-tabpane-template"             type="text/template"> <%= render 'vue/elb_tabpane'  %> </script>
<script id="s3-tabpane-template"              type="text/template"> <%= render 'vue/s3_tabpane'  %> </script>
<script id="vue-paginator-template"           type="text/template"> <%= render 'vue/vue_paginator' %> </script>

<script id="ec2-tabpane-template"             type="text/template"> <%= render 'vue/ec2_tabpane' %> </script>
<script id="edit-runlist-tabpane-template"    type="text/template"> <%= render 'vue/edit_runlist_tabpane' %> </script>
<script id="edit-attr-tabpane-template"       type="text/template"> <%= render 'vue/edit_attr_tabpane' %> </script>
<script id="serverspec-tabpane-template"      type="text/template"> <%= render 'vue/serverspec_tabpane' %> </script>
<script id="servertest-results-tabpane-template"      type="text/template"> <%= render 'vue/servertest_results_tabpane' %> </script>

<script id="operation-sched-tabpane-template" type="text/template"> <%=	render 'vue/operation_sched_tabpane' %> </script>
<script id="view-rules-tabpane-template" type="text/template"> <%=	render 'vue/view_rules_tabpane' %> </script>

<script id="edit-ansible-playbook-tabpane-template"    type="text/template"> <%= render 'vue/edit_ansible_playbook_tabpane' %> </script>
