<div id="infra-show"></div>

<script id="infra-show-template" type="text/template">
<div v-cloak v-show="current_infra.stack">
  <h3><%= t 'infrastructures.stack_info' %>
    <small>#{{current_infra.stack.name}} :
      <span v-class="'label', status_label_class">{{current_infra.stack.status.name}}</span>
    </small>
  </h3>


  <div class="tabbable">
    <ul class="nav nav-tabs" role="tablist">
      <%# Resource TABs %>
      <%= render 'resource_tabs' %>

      <li class="active">
        <a v-if="no_stack"    v-on="click: show_tabpane('default')"><%= t 'infrastructures.no_stack_info' %></a>
        <a v-if="in_progress" v-on="click: show_tabpane('default')"><%= t 'infrastructures.in_progress' %></a>
        <a v-if="stack_fail"  v-on="click: show_tabpane('default')"><%= t 'infrastructures.stack_fail' %></a>
      </li>


      <!-- Infrastructure Control TAB -->
      <li class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t 'common.actions' %>&nbsp;<b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li v-class="disabled : current_infra.token_invalid">
            <a href="#" tabindex="-1" v-on="click: show_add_modify()"><%= t 'infrastructures.btn.apply_template' %></a>
          </li>
          <li><a href="#" tabindex="-1" v-on="click: show_add_ec2()"><%= t 'infrastructures.add_ec2' %></a></li>
          <li>
            <a href="#" tabindex="-1" v-on="click: show_cf_history()"><%= t 'infrastructures.btn.template_history' %></a>
          </li>
          <li v-class="disabled : no_stack">
            <a href="#" tabindex="-1" v-on="click: show_event_logs()"><%= t 'infrastructures.btn.stack_eventlog' %></a>
          </li>
          <li class="divider"></li>
          <li v-class="disabled : no_stack">
            <a href="#" id="show-monitoring" tabindex="-1" v-on="click: show_monitoring()"><%= t 'monitoring.title' %></a>
          </li>
          <li v-class="disabled : no_stack">
            <a href="#" tabindex="-1" v-on="click: show_edit_monitoring()"><%= t 'monitoring.config' %></a>
          </li>
          <li v-class="disabled : no_stack">
            <a href="#" tabindex="-1" v-on="click: show_update_templates()"><%= t 'monitoring.template' %></a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#" tabindex="-1" v-on="click: show_infra_logs()"><%= t 'infrastructures.btn.infrastructure_log' %></a>
          </li>
        </ul>
      </li>
    </ul>


    <%# create tab-panes %>
    <div class="tab-pane">

      <%# loading tabpane %>
      <div v-if="loading">
        <div-loader></div-loader>
      </div>

      <div v-show="!loading" v-if="tabpane_active('default')">
        <%# No stack %>
        <div v-if="no_stack">
          <div id="initTop" class="initialization">
            <p><%= t 'infrastructures.msg.no_stack_info' %></p>
            <pre v-text="current_infra.stack.message"></pre>
          </div>
        </div>

        <%# IN PROGRESS %>
        <div v-if="in_progress()">
          <span><%= loading_with_message(t('infrastructures.msg.check_intervals')) %></span>
        </div>

        <%# Stack Event Table %>
        <stack-events-table events="{{current_infra.events}}"></stack-events-table>
      </div>

      <div v-show="!loading">
        <add-modify-tabpane      v-if="tabpane_active('add_modify')"       templates="{{* current_infra.templates}}" result="{{@ current_infra.add_modify}}"></add-modify-tabpane>
        <insert-cf-params        v-if="tabpane_active('insert-cf-params')" ></insert-cf-params>
        <add-ec2-tabpane         v-if="tabpane_active('add-ec2')"          ></add-ec2-tabpane>
        <cf-history-tabpane      v-if="tabpane_active('cf_history')"       ></cf-history-tabpane>
        <stack-events-table      v-if="tabpane_active('event_logs')"       events="{{* current_infra.events}}"></stack-events-table>
        <monitoring-tabpane      v-if="tabpane_active('monitoring')"       ></monitoring-tabpane>
        <edit-monitoring-tabpane v-if="tabpane_active('edit-monitoring')"  ></edit-monitoring-tabpane>
        <update-template-tabpane v-if="tabpane_active('update-template')"  ></update-template-tabpane>
        <infra-logs-tabpane      v-if="tabpane_active('infra_logs')"       ></infra-logs-tabpane>
        <ec2-tabpane             v-if="tabpane_active('ec2')"              physical_id="{{* tabpaneGroupID}}"></ec2-tabpane>
        <rds-tabpane             v-if="tabpane_active('rds')"              physical_id="{{* tabpaneGroupID}}"></rds-tabpane>
        <elb-tabpane             v-if="tabpane_active('elb')"              physical_id="{{* tabpaneGroupID}}"></elb-tabpane>
        <s3-tabpane              v-if="tabpane_active('s3')"               physical_id="{{* tabpaneGroupID}}"></s3-tabpane>
        <edit-runlist-tabpane    v-if="tabpane_active('edit_runlist')"     ></edit-runlist-tabpane>
        <edit-attr-tabpane       v-if="tabpane_active('edit_attr')"        ></edit-attr-tabpane>
        <serverspec-tabpane      v-if="tabpane_active('serverspec')"       ></serverspec-tabpane>
      </div>
    </div>
  </div>
</div>
</script>

<script id="stack-events-table-template"      type="text/template"> <%= render 'vue/stack_events_table' %> </script>
<script id="add-modify-tabpane-template"      type="text/template"> <%= render 'vue/add_modify_tabpane' %> </script>
<script id="insert-cf-params-template"        type="text/template"> <%= render 'vue/insert_cf_params' %> </script>
<script id="add-ec2-tabpane-template"         type="text/template"> <%= render 'vue/add_ec2_tabpane' %> </script>
<script id="cf-history-tabpane-template"      type="text/template"> <%= render 'vue/cf_history_tabpane' %> </script>
<script id="infra-logs-tabpane-template"      type="text/template"> <%= render 'vue/infra_logs_tabpane'  %> </script>
<script id="monitoring-tabpane-template"      type="text/template"> <%= render 'vue/monitoring_tabpane' %> </script>
<script id="edit-monitoring-tabpane-template" type="text/template"> <%= render 'vue/edit_monitoring_tabpane' %> </script>
<script id="update-template-tabpane-template" type="text/template"> <%= render 'vue/update_template_tabpane' %> </script>
<script id="rds-tabpane-template"             type="text/template"> <%= render 'vue/rds_tabpane'  %> </script>
<script id="elb-tabpane-template"             type="text/template"> <%= render 'vue/elb_tabpane'  %> </script>
<script id="s3-tabpane-template"              type="text/template"> <%= render 'vue/s3_tabpane'  %> </script>
<script id="vue-paginator-template"           type="text/template"> <%= render 'vue/vue_paginator' %> </script>

<script id="ec2-tabpane-template"             type="text/template"> <%= render 'vue/ec2_tabpane' %> </script>
<script id="edit-runlist-tabpane-template"    type="text/template"> <%= render 'vue/edit_runlist_tabpane' %> </script>
<script id="edit-attr-tabpane-template"       type="text/template"> <%= render 'vue/edit_attr_tabpane' %> </script>
<script id="serverspec-tabpane-template"      type="text/template"> <%= render 'vue/serverspec_tabpane' %> </script>
