<% provide(:title, I18n.t('infrastructures.infrastructure'))%>
<%- model_class = Infrastructure -%>
<div class="page-header">
  <h1><%=t 'infrastructures.infrastructure' %></h1>
  <%= breadcrumbs(@selected_client, @selected_project, nil) if current_user.master? %>
  <%= link_to t('infrastructures.return_to_projects'), projects_path, {class: "btn btn-small btn-link"} unless current_user.master? %>
</div>

<script id="grid-template" type="text/template"> <%= render 'vue/index' %> </script>

<div id="infrastructureApp">
  <router-view></router-view>
</div>

<script id="index-template" type="text/template">
  <div id="indexElement" v-el:node>

    <div v-cloak>
      <div class="col-xs-4"><input type="text" class="form-control" v-model="searchQuery" placeholder="<%= t 'infrastructures.search' %>"></div>

      <div class="pull-right">
        <div class='btn-group'>
            <a class='btn btn-sm btn-danger disabled' data-toggle='dropdown' href='#' :class="{disabled: !can_delete()}">
              <%= fa 'trash' %> <%= t('infrastructures.btn.delete_stack') %>&nbsp;<span class='caret'></span>
            </a>
           <ul class='dropdown-menu'>
            <li>
             <a class='delete-stack' href='#' @click="delete_stack()">Execute</a>
          </li>
          </ul>
         </div>
      </div>

      <div class="pull-right">
        <div class="btn-group">
          <a class='btn btn-sm btn-warning disabled' href='#' @click="detach_infra()" :class="{disabled: !can_detach()}"><%= fa 'chain-broken' %> <%= t('helpers.links.detach') %></a>&nbsp
        </div>
      </div>

      <div class="pull-right">
        <div class="btn-group">
             <a class="btn btn-default btn-sm dropdown-toggle disabled" data-toggle="dropdown" href="#" :class="{disabled: !is_picked()}">
               <%= t 'common.btn.settings' %> <span class="caret"></span>
             </a>&nbsp
             <ul class="dropdown-menu">
               <li v-if="picked">
                 <a @click="show_sched()" href='#'> <%=  t('infrastructures.btn.operation_schedule') %></a>
                 <a :href='picked.servertests_path'>Serverspecs</a>
                 <a :href='picked.edit_keypair_infrastructure_path'><%=  t('infrastructures.btn.change_keypair') %></a>
               </li>
             </ul>
        </div>
      </div>

      <div class="pull-right" v-cloak="picked">
        <a class="btn btn-default btn-sm disabled"
            :href="picked.edit_infrastructure_path" :class="{disabled: !can_edit()}">
            <span class='glyphicon glyphicon-edit'></span>
            <%= t 'helpers.links.edit' %>
        </a>&nbsp
      </div>

      <div class="pull-right">
        <a class="btn btn-default btn-sm" @click="reload()">
            <span class='glyphicon glyphicon-refresh'></span>
        </a>&nbsp
      </div>
    </div>

    <demo-grid
    v-ref:demogrid
    :data.sync="gridData"
    :columns="gridColumns"
    :filter-key="searchQuery"
    :picked.sync="picked"
    :index="index"
    :url="url">
    </demo-grid>
    <div v-if="is_empty" v-cloak>
      <%= t 'infrastructures.msg.empty-list' %>
      <hr>
    </div>
    <div v-if="loading">
      <span class="loader"></span>
      <%= t 'common.msg.loading' %>
      <hr>
    </div>
  </div>

  <div style="display: none;">
    <router-view
      v-ref:infrastructure
      :current_tab="infra_oepn_tab">
    </router-view>
  </div>
</script>


<hr>

<%= button_add_infra(@selected_project) %>

<div class="page-header"></div>

<%= render 'show' %>
