<% provide(:title, I18n.t('infrastructures.infrastructure'))%>
<%- model_class = Infrastructure -%>
<div class="page-header">
  <h1><%=t 'infrastructures.infrastructure' %></h1>
  <%= breadcrumbs(@selected_client, @selected_project, nil) if current_user.master? %>
  <%= link_to t('infrastructures.return_to_projects'), projects_path, {class: "btn btn-small btn-link"} unless current_user.master? %>
</div>

<%= render 'vue/index' %>

<table class="table table-hover hidden">
  <!-- <thead>
    <tr>
      <th><%= t 'infrastructures.stackname' %></th>
      <th><%= t 'infrastructures.region' %></th>
      <th><%= t 'infrastructures.keypair' %></th>
      <th><%= t 'common.actions' %></th>
    </tr>
  </thead> -->
  <tbody>
    <% @infrastructures.each do |infra| %>
      <!-- <tr class="infrastructure-row">
        <td><%= infra.stack_name %></td>
        <td><%= infra.region %></td>
        <td><%= infra.keypairname || t('infrastructures.msg.no_keypair') %></td>
        <td> -->
        <td>
          <%= button_show_infra(infra) %>

          <%= button_serverspecs(infra.id) %>

          <%= button_edit_infra(infra) %>
          <%= button_detach_stack(infra) %>
          <%= button_delete_stack(infra) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <div class="text-center">
  <%= paginate(@infrastructures) %>
</div> -->

<%= button_add_infra(@selected_project) %>

<div class="page-header"></div>

<%= render 'show' %>
