<%# modal for change schedule %>
<div id="create_security_group_modal" class="modal fade" role="dialog" aria-hidden="true"
     xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="panel-title"><%= t 'security_groups.btn.create' %></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label"><%= t 'security_groups.group_name' %></label>
          <input class="form-control" type="text" v-model="group_name" required>
        </div>
        <div class="form-group">
          <label class="control-label"><%= t 'security_groups.description' %></label>
          <input class="form-control" type="text" v-model="description" required>
        </div>
        <div class="form-group">
          <label class="control-label">Name</label>
          <input class="form-control" type="text" v-model="name" required>
        </div>
        <div class="form-group">
          <label class="control-label">VPC</label>
          <select class="form-control" v-model="vpc" required>
            <option v-for="v in vpcs" v-bind:value="v.vpc_id">{{v.name}}</option>
          </select>
          <%= t 'security_groups.denotes' %>
        </div>

        <!--<div class="form-group">-->
          <!--<label class="control-label">Attach to: </label>-->
          <!--<select class="form-control" v-model="physical_id">-->
            <!--<option v-for="v in ec2_instances" v-bind:value="v.physical_id">{{v.screen_name}} / {{v.physical_id}}</option>-->
          <!--</select>-->
          <!--(optional)-->
        <!--</div>-->

        <!--<ul class="nav nav-tabs">-->
          <!--<li class="active"><a href="#inbound" data-toggle="tab" aria-expanded="true">Inbound</a></li>-->
          <!--<li class=""><a href="#outbound" data-toggle="tab" aria-expanded="false">Outbound</a></li>-->
        <!--</ul>-->
        <!---->
        <!--<div id="myTabContent" class="tab-content">-->
          <!--<div class="tab-pane fade active in" id="inbound">-->
            <!--<table class="table table-condensed">-->
              <!--<tr>-->
                <!--<th>Type</th>-->
                <!--<th>Protocol</th>-->
                <!--<th>Range</th>-->
                <!--<th>Source</th>-->
              <!--</tr>-->
              <!--<tr v-for="ib in inbound" :key="ib.index">-->
                <!--<td>-->
                  <!--<select class="form-control" v-model="type[index]">-->
                    <!--<option v-for="(i,k) in ib" v-bind:value="k">{{i.type}}</option>-->
                  <!--</select>-->
                <!--</td>-->
                <!--<td>{{inbound[index][type[index]].protocol}}</td>-->
                <!--<td>{{inbound[index][type[index]].port}}</td>-->
                <!--<td>{{inbound[index][type[index]].source}}</td>-->
              <!--</tr>-->
            <!--</table>-->
            <!--<button @click="add_rule('inbound')" class="btn btn-xs btn-default">Add rule</button>-->
          <!--</div>-->
          <!--<div class="tab-pane fade" id="outbound">-->
            <!--<table class="table table-condensed">-->
              <!--<tr>-->
                <!--<th>Type</th>-->
                <!--<th>Protocol</th>-->
                <!--<th>Range</th>-->
                <!--<th>Source</th>-->
              <!--</tr>-->
            <!--</table>-->
            <!--<button class="btn btn-xs btn-default">Add rule</button>-->
          <!--</div>-->
        <!--</div>-->

      </div>
      <div class="modal-footer">
        <div v-if="!loading_s">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.cancel') %></button>
          <button class="btn btn-primary" @click="create_group()" :disabled="!required_filed" data-dismiss="modal" aria-hidden="true">
            <%= t('helpers.links.create') %>
          </button>
        </div>
        <div-loader v-if="loading_s"></div-loader>
      </div>
    </div>
  </div>
</div>
