<%# modal for change schedule %>
<div id="change-rules-modal" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div-loader v-if="loading_groups"></div-loader>
      <div class="modal-header bg-info">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="panel-title" v-if="lang === 'en'"> <%= t'security_groups.associated' %> {{physical_id}}</h4>
        <h4 class="panel-title" v-if="lang === 'ja'">{{physical_id}} <%= t'security_groups.associated' %> </h4>
      </div>

      <div class="modal-body" v-if="rules_summary">
        <div class="col-md-4 input-group">
            <input type="text" name="query" v-model="filterKey" class="form-control" placeholder="<%= t 'infrastructures.search' %>">
            <hr>
        </div>
        <table class="table table-condensed">
          <thead>
          <tr>
            <th width="20"></th>
            <th width="100"><%= t'security_groups.group_id' %></th>
            <th><%= t 'security_groups.group_name' %></th>
            <th><%= t 'security_groups.description' %></th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="r in dispItems
          | filterBy filterKey" :class="{info: r.checked}" @click="check(r)">
            <td><input type="checkbox" v-model="r.checked"></td>
            <td>{{r.group_id}}</td>
            <td><div class="truncate"> {{r.group_name}}</div></td>
            <td><div class="truncate">{{r.description}}</div></td>
            <td v-if="check_tag(r)">{{r.tags[0].value}}</td>
            <td v-else></td>
          </tr>
          <tr  v-if="filteredLength === 0 && dispItems.length > 0">
            <td v-if="lang === 'en'" colspan="4"><h4> No results for <span class="text text-info">"{{filterKey}}"</span> was found. </h4></td>
            <td v-if="lang === 'ja'" colspan="4"><h4> <span class="text text-info">"{{filterKey}}"</span> に一致する情報は見つかりませんでした。 </h4></td>
          </tr>
          </tbody>
        </table>
        <nav v-if="filterKey === ''">
          <ul class="pager">
            <li class="{{isStartPage ? 'disabled' : '' }}"><a @click="showPrev" ><span aria-hidden="true">&larr; <%= t 'monitoring.btn.prev' %></a></li>
            <label><%= t 'monitoring.msg.page' %> </label><strong v-html="page + 1"></strong> <%= t 'monitoring.msg.of' %><span v-html="rules_summary.length / 10 | roundup"></span>
            <li class="{{isEndPage ? 'disabled' : '' }}"><a   @click="showNext" :disabled="!isEndPage"></span><%= t 'monitoring.btn.next' %> <span aria-hidden="true">&rarr;</a></li>
          </ul>
        </nav>

        <div v-if="!has_selected" class="alert alert-dismissible alert-danger">
          <h4><%= t 'security_groups.msg.error' %></h4>
          <p><%= t 'security_groups.msg.error_msg' %></p>
        </div>
      </div>
      <div class="modal-footer">
        <div v-if="!loading_s">
          <button class="btn btn-default" @click="reload()" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.cancel') %></button>
          <button class="btn btn-primary" @click="submit_groups()" :disabled="!has_selected" data-dismiss="modal" aria-hidden="true" data-dismiss="{{has_selected ? 'modal' : ''}}">
            <%= t 'security_groups.btn.assign' %>
          </button>
        </div>
        <div-loader v-if="loading_s"></div-loader>
      </div>
    </div>
  </div>
</div>
