<div class="modal fade" id="manage_schedule" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header center-block">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><%= I18n.t('operation_scheduler.modal_title')%>  <small>#{{sel_instance.physical_id}}</small></h3>

        <ul class="nav nav-tabs" class="col-md-12">
          <li role="presentation" :class="{'active': tabManual}" @click="change_tab('manual')"><a href="#">Manual</a></li>
          <li role="presentation" :class="{'active': tabiCalendar}" @click="change_tab('icalendar')"><a href="#">iCalendar</a></li>
        </ul>

      </div>
      <div class="modal-body">

        <!--Upload iCalendar input tab-->
        <div class="col-md-12" v-if="tabiCalendar">
            <div class="form-group">
              <label class="control-label" for="focusedInput">Select iCalendar File:</label>
              <input id="focusedInput" class="form-control" type="file" @change="onFileChange"  accept=".ics ">
            </div>
        </div>


        <!--Manual Calendar input tab-->
        <div class="col-md-6" v-if="tabManual">
          <h4><%= I18n.t('operation_scheduler.duration')%> <small><a href="#" id="duration" @click="pop('duration')"
            data-content="<%= I18n.t('operation_scheduler.duration-content')%>"
            rel="popover" data-toggle="popover" data-trigger="focus"
            data-original-title="<%= I18n.t('operation_scheduler.duration')%>"
            class="popover-help">
            <span class="glyphicon glyphicon-question-sign"></span></a>
            </small>
          </h4>
            <div class="row">
              <div class="col-xs-12">
                <%= I18n.t('operation_scheduler.start_date')%> & <%= I18n.t('operation_scheduler.start_time')%><input type="text" v-datepicker="sel_instance.start_date" v-model="sel_instance.start_date" class="form-control" id="op-sched-start">
                <button class="btn btn-default btn-sm" type="button" @click="sel_instance.start_date = default_start">Default</button>
                <span class="help-block">{{default_start}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <%= I18n.t('operation_scheduler.end_date')%> & <%= I18n.t('operation_scheduler.end_time')%><input type="text" v-datepicker="sel_instance.end_date" v-model="sel_instance.end_date" class="form-control" id="op-sched-end">
                <button class="btn btn-default btn-sm" type="button" @click="sel_instance.end_date = default_end">Default (+1 year)</button>
                <span class="help-block">{{default_end}}</span>
                <input type="hidden">
              </div>
            </div>
        </div>
        <div class="col-md-6" v-if="tabManual">
          <h4> <%= I18n.t('operation_scheduler.recurring')%> <small><a href="#" id="recurring" @click="pop('recurring')"
           data-content="<%= I18n.t('operation_scheduler.recurring-content')%>"
           data-toggle="popover"
           data-trigger="focus"
           rel="popover"
           data-original-title="<%= I18n.t('operation_scheduler.recurring')%>"
           class="popover-help">
            <span class="glyphicon glyphicon-question-sign"></span></a>
          </small>
          </h4>
            <label><%= I18n.t('operation_scheduler.every')%> </label>
              <div class="radio" v-for="mode in modes">
                <label>
                  <radio-button name="options" :label="mode.desc" :choices="mode.value"  :value="sel_instance.repeat_freq" :options="mode.value" @change.prevent="repeat_selector"/>
                </label>
              </div>
          <div v-if="days_selector" class="col-xs-12">
            <div v-if="!has_dates" class="alert alert-dismissible alert-warning">
              <b><%= t 'operation_scheduler.msg.warn' %></b>
              <p><%= t 'operation_scheduler.msg.select_day' %></p>
            </div>
            <div class="checkbox" v-for="d in dates">
              <label>
                <input type="checkbox" :checked="d.checked" v-model="d.checked"> {{date_name(d.value)}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= I18n.t('helpers.links.cancel')%></button>
        <button v-if="tabManual" type="button" class="btn btn-primary" @click="save_sched()" :disabled="!save_sched_err" data-dismiss="modal">
          <span ><%= I18n.t('helpers.titles.save')%></span>
        </button>
        <button v-if="tabiCalendar" type="button" class="btn btn-primary" @click="upload_calendar()" :disabled="!save_sched_err" data-dismiss="modal">
          <span><%= I18n.t('helpers.titles.upload')%></span>
        </button>
      </div>
    </div>
  </div>
</div>
