<%# snapshots modal %>
<div id="snapshots-modal" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <button class="close" style="margin-right: 10px;" @click="load_snapshots()" :disabled="loading_snapshots"><small><span class="glyphicon glyphicon-refresh"></span></small></button>
        <h4 class="modal-title">Snapshots of {{volume_selected}}</h4>
      </div>

      <div class="modal-body">
        <div-loader v-if="loading_snapshots"></div-loader>
        <table v-if="!loading_snapshots" class="table table-condensed table-hover">
          <thead>
            <th></th>
            <th class=""         @click="sort_by('tags.Name')"  >Name<span           :class="{'caret': sorting_by('tags.Name'),   'caret-reversed': sort_asc}"></span></th>
            <th class="col-md-2" @click="sort_by('snapshot_id')">ID<span             :class="{'caret': sorting_by('snapshot_id'), 'caret-reversed': sort_asc}"></span></th>
            <th class="col-md-2" @click="sort_by('state')"      >State<span          :class="{'caret': sorting_by('state'),       'caret-reversed': sort_asc}"></span></th>
            <th class=""         @click="sort_by('start_time')" >Date<span           :class="{'caret': sorting_by('start_time'),  'caret-reversed': sort_asc}"></span></th>
            <th class=""         @click="sort_by('encrypted')"  >Encrypted<span      :class="{'caret': sorting_by('encrypted'),   'caret-reversed': sort_asc}"></span></th>
            <th></th>
          </thead>
          <tbody>
            <tr v-for="snapshot in snapshots" @click="select_snapshot(snapshot)" :class="{info: snapshot.selected}" transition="fade">
              <td><input v-model="snapshot.selected" type="checkbox"></td>
              <td v-text="snapshot.tags.Name" style="word-break: break-all"></td>
              <td v-text="snapshot.snapshot_id"></td>
              <td v-text="snapshot_status(snapshot)"></td>
              <td v-text="toLocaleString(snapshot.start_time)"></td>
              <td v-text="snapshot.encrypted"></td>
              <td><i class="fa fa-lock" v-show="snapshot.tags.<%= Snapshot::PROTECTION_TAG_NAME %>"></i></td>
            </tr>
            <tr v-if="!snapshots.length">
              <td colspan="8"><%= t('snapshots.msg.no_snapshots') %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <div v-if="!loading">
          <button @click="create_snapshot(volume_selected)" class="btn btn-primary"><%= t('helpers.links.create') %></button>
          <button @click="delete_selected_snapshots()" :disabled="!selected_any || loading_snapshots" class="btn btn-danger"><%= t('helpers.links.destroy') %></button>
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.close') %></button>
        </div>
        <div-loader v-if="loading"></div-loader>
      </div>
    </div>
  </div>
</div>
