<% provide(:title, I18n.t('project_parameters.title')) %>

<h2 class="page-header">
  <%= t 'project_parameters.title' %>
  <small>
    for&nbsp;
    <%= link_to(@project.name, projects_path(client_id: @project.client_id, project: @project)) %>
  </small>
</h2>

<div class="bs-callout bs-callout-info">
<%=t('project_parameters.description_html')%>
</div>


<div id="project-parameter-index" v-cloak>
  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-1"></th>
        <th class="col-xs-3">Key</th>
        <th class="col-xs-7">Value</th>
        <th class="col-xs-1"></th>
      </tr>
    </thead>

    <tbody>
      <template v-for="p in params">
        <param-tr :param="p"></param-tr>
      </template>
    </tbody>
  </table>

  <div-loader v-if="saving" text="Saving..."></div-loader>
  <div v-else>
<% if @updatable %>
    <button class="btn btn-success" @click="add()">Add</button>
    <button class="btn btn-primary" @click="save()">Save</button>
<% end %>
    <%= link_to(t('helpers.links.cancel'), projects_path(client_id: @project.client_id, project: @project), class: 'btn btn-default') %>
  </div>
</div>

<script>
var PROJECT_PARAMETERS = <%= @parameters.to_json.html_safe %>
var PROJECT = <%= @project.attributes.slice('id').to_json.html_safe %>
</script>

<script id="param-tr-template" type="text/template">
<%= render partial: 'param_tr', locals: {updatable: @updatable} %>
</script>
