<% provide(:title, I18n.t('servertests.servertest')) %>
<%- model_class = Servertest -%>
<% allow_change = @infrastructure_id ? current_user.admin? : current_user.master? && current_user.admin? %>
<% project_id   = Infrastructure.find(@infrastructure_id).project_id if @infrastructure_id %>

<div class="page-header">
  <h1>
    <%= t('servertests.servertest') %>&nbsp;
    <small><%= ('for ' + link_to(@infrastructure_name, infrastructures_path(project_id: project_id, infrastructure_id: @infrastructure_id))).html_safe if @infrastructure_name %></small>
  </h1>
</div>


<script id="grid-template" type="text/template"> <%= render 'vue/index' %> </script>

<div id="indexElement" v-el:node>

  <div v-cloak>
    <div class="col-xs-4"><input type="text" class="form-control" v-model="searchQuery" placeholder="<%= t 'infrastructures.search' %>"></div>

    <div class="pull-right">
      <a class="btn btn-danger btn-sm disabled"
      :class="{disabled: can_delete()}"
      @click="delete_entry()">
          <%= fa 'times' %>
          <%= t 'common.btn.delete' %>
      </a>&nbsp
    </div>

    <div class="pull-right" v-cloak="picked">
      <a class="btn btn-default btn-sm disabled"
          :href="picked.edit_servertest_path" :class="{disabled: can_edit()}">
          <span class='glyphicon glyphicon-edit'></span>
          <%= t 'helpers.links.edit' %>
      </a>&nbsp
    </div>

  </div>


  <demo-grid
  :data.sync="gridData"
  :columns="gridColumns"
  :filter-key="searchQuery"
  :picked.sync="picked"
  :index="index">
  </demo-grid>
</div>


<% if allow_change %>
  <%= link_to t('.new', default: t('servertests.btn.add')),
    new_servertest_path(infrastructure_id: @infrastructure_id),
    class: 'btn btn-primary btn-small' %>
  <%= link_to t('servertests.btn.generator'),
    generator_servertests_path(infrastructure_id: @infrastructure_id),
    class: 'btn btn-primary btn-small' %>
<% end %>

<div class="page-header"></div>

<div style='display:none; padding-bottom: 70px;' id='value'>
  <h5>Value</h5>
  <pre id='value-information'></pre>
</div>

<% content_for :sidebar do %><% end %>
