<% provide(:title, I18n.t('clients.client')) %>
<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t 'clients.client' %></h1>
  <%= breadcrumbs %>
</div>

<!-- component template -->
<script id="grid-template" type="text/template"> <%= render 'vue/index' %> </script>

<!-- demo root element -->
<div id="indexElement" v-el:node>

  <div>
    <div class="col-md-4"><input type="text" class="form-control" v-model="searchQuery" placeholder="<%= t 'infrastructures.search' %>"></div>

    <div class="pull-right">
      <a class="btn btn-danger btn-sm disabled"
      @click="delete_entry()"
      :class="{disabled: !can_delete()}">
          <%= fa 'times' %>
          <%= t 'common.btn.delete' %>
      </a>&nbsp
    </div>

    <div class="pull-right">
      <a class="btn btn-default btn-sm disabled"
          v-bind:href="picked.edit_client_path"
          :class="{disabled: !can_edit()}">
          <span class='glyphicon glyphicon-edit'></span>
          <%= t 'helpers.links.edit' %>
      </a>&nbsp
    </div>
  </div>

  <demo-grid
  :data.sync="gridData"
  :columns="gridColumns"
  :filter-key="searchQuery"
  :picked.sync="picked"
  :index="index">
  </demo-grid>
</div>

<div  id="empty" style="display: none;"></div>
<span id="loading"><div class="loader"></div> <%= t 'common.msg.loading' %></span>
<hr>

<%= link_to(
  t('clients.btn.add'),
  new_client_path,
  class: 'btn btn-primary btn-sm'
) if current_user.admin? %>


<% content_for :sidebar do %>
<% end %>
