<% provide(:title, I18n.t('clients.client')) %>
<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t 'clients.client' %></h1>
  <%= breadcrumbs %>
</div>

<!-- component template -->
<script id="grid-template" type="text/template"> <%= render 'vue/index' %> </script>

<!-- demo root element -->



<div id="indexElement" v-el:node>
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" v-model="searchQuery" placeholder="<%= t 'infrastructures.search' %>">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <a class='btn btn-info btn-xs' href="/projects?lang={{lang}}&amp;client_id={{picked.id}}" v-if="picked" ><%= t 'helpers.links.show' %></a>
      <a class="btn btn-default btn-xs"
        v-bind:href="picked.edit_url"
        v-if="can_edit()">
        <span class='glyphicon glyphicon-edit'></span>
        <%= t 'helpers.links.edit' %>
      </a>

      <a class="btn btn-danger btn-xs" data-method='delete'
      href="/clients/{{picked.id}}?lang={{lang}}"
      :class="{disabled: picked.code[1] > 0}" v-if="can_delete()">
        <%= t 'common.btn.delete' %>
      </a>
    </ul>

  </form>

  <demo-grid
  :data="gridData"
  :columns="gridColumns"
  :filter-key="searchQuery">
  </demo-grid>
</div>

<div  id="empty" style="display: none;"></div>
<span id="loading"><div class="loader"></div> <%= t 'common.msg.loading' %></span>
<hr>


<%= link_to(
  t('clients.btn.add'),
  new_client_path,
  class: 'btn btn-primary btn-sm'
) if current_user.admin? %>


<% content_for :sidebar do %>
<% end %>
