<% provide(:title, I18n.t('clients.client')) %>
<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t 'clients.client' %></h1>
  <%= breadcrumbs %>
</div>

<!-- component template -->
<script id="grid-template" type="text/template"> <%= render 'vue/index' %> </script>

<!-- demo root element -->

<div id="indexElement" v-el:node>
  <div class="col-md-4 input-group">
      <input type="text" name="query" maxlength="120"  debounce="500" v-model="searchQuery" class="form-control" placeholder="<%= t 'infrastructures.search' %>">
      <hr>
  </div>
  <demo-grid
  :data="gridData"
  :columns="gridColumns"
  :filter-key="searchQuery">
  </demo-grid>
</div>

<div  id="empty" style="display: none;"></div>
<span id="loading"><div class="loader"></div> <%= t 'common.msg.loading' %></span>
<hr>


<%= link_to(
  t('clients.btn.add'),
  new_client_path,
  class: 'btn btn-primary btn-sm'
) if current_user.admin? %>


<% content_for :sidebar do %>
<% end %>
