
<div class="row">
  <div class="col-md-11 col-sm-12">
    <% @url_status.each do |scenario| %>
      <blockquote class="h5">
        <div class="h5">
          <strong><u><%= scenario[:name]%>:</u>
            <% case scenario[:status] %>
            <% when "OK" %>
              <span class="text-success"><%= scenario[:status] %></span>
            <% else %>
              <span class="text-danger"><%= scenario[:status] %></span>
            <% end %>
          </strong>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3">URL</th>
              <th class="col-md-3">Response Code</th>
              <th class="col-md-4">Download Speed (bytes/sec)</th>
              <th class="col-md-2">Response Time</th>

              <!-- TODO -->
              <th class="col-md-1" style="border: none"><a class="btn btn-info btn-xs" href="#">グラフ</a></th>
            </tr>
          </thead>
          <tbody>
            <% scenario[:data].each do |step| %>
              <tr>
                <td><%= step[:url] %></td>
                <td><%= step[:response_code] %></td>
                <td><%= step[:download_speed] %></td>
                <td><%= step[:response_time] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </blockquote>
    <% end %>
  </div>
</div>

