<% provide(:title, I18n.t('projects.project')) %>
<%- model_class = Project -%>
<div class="page-header">
  <h1><%= t 'projects.project' %></h1>
  <%= breadcrumbs(@selected_client) if current_user.master? %>
</div>

<script id="grid-template" type="text/template"> <%= render 'vue/index' %> </script>

<div id="indexElement" v-el:node>

  <div>
    <div class="col-md-4"><input type="text" class="form-control" v-model="searchQuery" placeholder="<%= t 'infrastructures.search' %>"></div>

    <div class="pull-right">
      <a class="btn btn-danger btn-sm"
      @click="delete_entry()"
        :class="{disabled: picked.code[1] > 0}" v-if="can_delete()">
          <%= fa 'times' %>
          <%= t 'common.btn.delete' %>
      </a>&nbsp
    </div>

    <div class="pull-right">
      <a class="btn btn-default btn-sm"
          v-bind:href="picked.edit_project_url"
          v-if="can_edit()">
          <span class='glyphicon glyphicon-edit'></span>
          <%= t 'helpers.links.edit' %>
      </a>&nbsp
    </div>
  </div>

  <demo-grid
  :data="gridData"
  :columns="gridColumns"
  :filter-key="searchQuery">
  </demo-grid>
</div>

<div  id="empty" style="display: none;"></div>
<span id="loading"><div class="loader"></div> <%= t 'common.msg.loading' %></span>
<hr>


<%= button_add_project(@selected_client) %>

<div class="page-header"></div>
