<h3 class="page-header"><%= t('users.edit') %></h3>

<%= hidden_field_tag "user-id", @user.id, id: "user-id" %>
<div class="col-md-123 col-sm-12">
  <div class="col-md-3 col-sm-3">
    <h5 class="page-header"><%= t('users.role') %></h5>
    <div class="checkbox">
      <label>
        <%= check_box_tag "user[master]", "master", @user.master %><%= master_label %>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <%= check_box_tag "user[admin]", "admin", @user.admin %><%= admin_label %>
      </label>
    </div>
  </div>
  <div class="col-sm-9 col-md-9">
    <h5 class="page-header">パスワードの変更</h5>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control input-sm" id="password" placeholder="Enter new password if you want to change" autocomplete="off">
        </div>
      </div>
      <div class="form-group">
        <label for="password_confirm" class="col-sm-3 control-label">Password Confirmation</label>
        <div class="col-sm-9">
          <input type="password" class="form-control input-sm" id="password_confirmation" autocomplete="off">
        </div>
      </div>
    </form>
  </div>
</div>


<div class="col-md-7 col-sm-7">
  <div class="col-md-5 col-sm-5 form-group">
    <h5 class="page-header"><%= t('clients.client') %></h5>
    <select size="2" id="clients" class="form-control admin-selectbox-height">
      <%= options_from_collection_for_select(@clients, :id, :name) %>
    </select>
  </div>
  <div class="col-sm-7 col-md-7 form-group">
    <h5 class="page-header"><%= t('projects.project') %></h5>
    <select multiple="multiple" id="projects" class="form-control admin-selectbox-height">
    </select>
  </div>
  <div class="col-sm-12 col-md-12">
    <div class="form-group">
      <button class="btn btn-default pull-right" id="add-allowed-projects">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
</div>


<div class="col-md-5 col-sm-5">
  <div class="col-md-12 col-sm-12">
    <h5 class="page-header"><%= t('users.allowed_projects') %></h5>

    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <select id="allowed-projects" multiple="multiple" class="form-control admin-selectbox-height">
          <% @allowed_projects_title.each do |project| %>
            <option value="<%= project[:project_id] %>"><%= project[:title] %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <button id="remove-allowed-projects" class="btn btn-default">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12">
  <div class="form-actions-top">
    <button class="btn btn-primary btn-sm" id="apply-permission-edit">
      <%= t('common.btn.save_changes') %>
    </button>
  </div>
</div>
