<script id="user-edit-template" type="text/template">

<h3 class="page-header"><%= t('users.edit') %></h3>

<div class="col-md-12 col-sm-12">
  <div class="col-md-3 col-sm-3">
    <h5 class="page-header"><%= t('users.role') %></h5>
    <div class="checkbox">
      <label>
        <input type="checkbox" v-model="user.master"><%= master_label %>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" v-model="user.admin"><%= admin_label %>
      </label>
    </div>
  </div>

  <div class="col-sm-5 col-md-5">
    <h5 class="page-header">パスワードの変更</h5>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control input-sm" placeholder="Enter new password if you want to change" autocomplete="off" v-model="user.password">
        </div>
      </div>
      <div class="form-group">
        <label for="password_confirm" class="col-sm-3 control-label">Password Confirmation</label>
        <div class="col-sm-9">
          <input type="password" class="form-control input-sm" v-model="user.password_confirmation" autocomplete="off">
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm-4 col-md-4">
    <h5 class="page-header">二段階認証</h5>
    <div v-if="true">
      すでに二段階認証が設定されています
      二段階認証しないチェックボックス
    </div>

    <div v-if="true">
      <button class="btn btn-sm btn-primary">二段階認証を開始する</button>
      <div v-if="true">
        <p>Secret Key: <code>{{mfa_key}}</code></p>
        <div class="QRCode">
          {{{mfa_qrcode}}}
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-md-7 col-sm-7">
  <div class="col-md-5 col-sm-5 form-group">
    <h5 class="page-header"><%= t('clients.client') %></h5>
    <select size="2" v-model="selected_client" options="clients" class="form-control admin-selectbox-height" v-on="click: get_projects()">
    </select>
  </div>
  <div class="col-sm-7 col-md-7 form-group">
    <h5 class="page-header"><%= t('projects.project') %></h5>
    <select multiple="multiple" v-model="selected_projects" options="projects" class="form-control admin-selectbox-height" v-on="dblclick: add()">
    </select>
  </div>
  <div class="col-sm-12 col-md-12">
    <div class="form-group">
      <button class="btn btn-default pull-right" v-on="click: add()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
</div>


<div class="col-md-5 col-sm-5">
  <div class="col-md-12 col-sm-12">
    <h5 class="page-header"><%= t('users.allowed_projects') %></h5>

    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <select multiple="multiple" class="form-control admin-selectbox-height" v-model="selected_allowed_projects" options="allowed_projects" v-on="dblclick: del()">
        </select>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <button class="btn btn-default" v-on="click: del()">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12">
  <div class="form-actions-top">
    <button class="btn btn-primary btn-sm">
      <%= t('common.btn.save_changes') %>
    </button>
  </div>
</div>

</script>
