<div class="page-header">
  <h1><%= t('users.title')%></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>resouce.physical_id</th>
      <th>severspec_result.status</th>
      <th>severspec_result.mesage</th>
      <th>severspec_result.create_at</th>
    </tr>
  </thead>
  <tbody>
        <% Resource.where("id = 3").each do |r|%>

              <% r.serverspec_results.all.each do |sr| %>
                <tr>
                  <td><%= r.physical_id %></td>
                  <td><%= sr.status %></td>
                  <td><%= sr.message %></td>
                  <td><%= sr.created_at %></td>

                </tr>
              <% end %>
        <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate(@users) %>
</div>

<%= link_to t('users.btn.add'), new_users_admin_path, class: 'btn btn-primary btn-sm' %>
<button class="btn btn-sm btn-default" id="sync_zabbix"><%= t('users.btn.sync') %></button>

<div class="page-header"></div>
<div id="user-edit" style="padding-bottom: 70px;"></div>
