<% provide(:title, I18n.t('users.title')) %>
<div class="page-header">
  <h1><%= t('users.title')%></h1>
</div>

<script id="grid-template" type="text/template"> <%= render 'vue/index' %> </script>

<div id="indexElement">
  <div class="input-group">
    <input type="text" name="query" v-model="searchQuery" debounce="500" class="form-control" placeholder="<%= t 'users.search' %>">
    <hr>
  </div>


      <div class="pull-right" v-cloak="picked">
        <a class="btn btn-danger btn-sm disabled"
        @click="delete_entry()"
          :class="{disabled: can_delete()}">
            <%= fa 'times' %>
            <%= t 'common.btn.delete' %>
        </a>&nbsp
      </div>

      <div class="pull-right" v-cloak="picked">
        <a class="btn btn-default btn-sm edit-user"
            href="#" user-id="{{picked.id}}" :class="{disabled: can_edit()}">
            <span class='glyphicon glyphicon-edit'></span>
            <%= t 'helpers.links.edit' %>
        </a>&nbsp
      </div>


  <demo-grid
    :data="gridData"
    :columns="gridColumns"
    :filter-key="searchQuery"
    :index="index">
  </demo-grid>
</div>

<div id="empty" style="display: none;"></div>
<span id="loading"><div class="loader"></div> <%= t 'common.msg.loading' %></span>
<hr>

<%= link_to new_users_admin_path, class: "btn btn-primary btn-sm" do %>
  <span class="fa fa-user-plus"></span> <%= t('users.btn.add') %>
<% end %>

<button class="btn btn-sm btn-default" id="sync_zabbix"><%= glyphicon("refresh") %> <%= t('users.btn.sync') %></button>

<div class="page-header"></div>
<div id="user-edit" style="padding-bottom: 70px;"></div>

<script id="user-edit-template" type="text/template">
<%= render 'edit' %>
</script>
