<div class="container" id="main" v-cloak>
  <h2 class="page-header"><%=t('serverspecs.generator.title')%></h2>

  <div class="row">
    <div class="col-xs-6">

      <h3><%=t('serverspecs.generator.resources')%></h3>
      <button class="btn btn-default" v-on="click: addDescribe()">
        <span class="glyphicon glyphicon-plus-sign"></span> <%=t('serverspecs.generator.add_resource')%>
      </button>

      <div v-repeat="desc: ast">
        <resource-panel desc="{{@ desc}}" idx="{{$index}}"></resource-panel>
      </div>
    </div>


    <div class="col-xs-6">
      <h2 class="page-header"><%=t('serverspecs.generator.generated')%></h2>
      <pre v-ace="rubyCode"><code v-text="rubyCode"></code></pre>
    </div>
  </div>

  <div class="row form-actions-top">
    <button class="btn btn-primary" v-on="click: save()"><%=t('helpers.titles.save')%></button>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      serverspecs_path(infrastructure_id: @infra.try(:id)), class: 'btn-default btn' %>
  </div>
</div>

<script id="resource-panel-template" type="text/template"> <%= render partial: 'gen_resource', locals: {resource_types: @resource_types} %> </script>
<script id="it-panel-template"       type="text/template"> <%= render 'gen_it' %> </script>
