<%- model_class = Serverspec -%>
<% allow_change = @infrastructure_id ? current_user.admin? : current_user.master? && current_user.admin? %>
<% project_id   = Infrastructure.find(@infrastructure_id).project_id if @infrastructure_id %>

<div class="page-header">
  <h1>
    <%= t('serverspecs.serverspec') %>&nbsp;
    <small><%= ('for ' + link_to(@infrastructure_name, infrastructures_path(project_id: project_id, infrastructure_id: @infrastructure_id))).html_safe if @infrastructure_name %></small>
  </h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('serverspecs.name') %></th>
      <th><%= t('serverspecs.description') %></th>
      <th><%= t('common.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @serverspecs.each do |serverspec| %>
     <tr data-serverspec-id="<%= serverspec.id %>">
        <td><%= serverspec.name %></td>
        <td><%= serverspec.description %></td>
        <td>
          <%= link_to t('helpers.links.show'),
            '#',
            class: 'btn btn-xs btn-info show-value' %>
          <% if allow_change %>
            <%= link_to t('.edit', default: t("helpers.links.edit").html_safe),
              edit_serverspec_path(serverspec),
              class: 'btn btn-xs btn-default' %>
            <%= link_to t('.destroy', default: t("helpers.links.destroy").html_safe),
              serverspec_path(serverspec),
              method: :delete,
              data:   { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              class:  'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate(@serverspecs) %>
</div>

<% if allow_change %>
  <%= link_to t('.new', default: t('serverspecs.btn.add')),
    new_serverspec_path(infrastructure_id: @infrastructure_id),
    class: 'btn btn-primary btn-small' %>
<% end %>

<div class="page-header"></div>

<div style='display:none; padding-bottom: 70px;' id='value'>
  <h5>Value</h5>
  <pre id='value-information'></pre>
</div>

<% content_for :sidebar do %><% end %>
