<%= form_for @zabbix_server, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <% if @zabbix_server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zabbix_server.errors.count, "error") %> prohibited this zabbix_server from being saved:</h2>

      <ul>
      <% @zabbix_server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <input type="hidden" v-model="params.id" value="" v-if="control_type == 'edit'">
    <%= f.label :fqdn, class: 'control-label col-sm-2' %>
    <div class="col-sm-5">
      <% if @zabbix_server.id == 1 %>
        <input type="text" value="" class="form-control"  v-model="params.fqdn" pattern="[^\s]+" readonly="true">
      <% else %>
        <input type="text" class="form-control"  v-model="params.fqdn" pattern="[^\s]+" required>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :username, class: 'control-label col-sm-2' %>
    <div class="col-sm-5">
      <input type="text" value="" class="form-control" v-model="params.username" pattern="[^\s]+" required>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'control-label col-sm-2' %>
    <div class="col-sm-5">
      <input type="password" value="" class="form-control" v-model="params.password" pattern="[^\s]+" required>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :details, t('zabbix_servers.details'), class: 'control-label col-sm-2' %>
    <div class="col-sm-5">
      <textarea id="details" class="form-control" v-model="params.details" rows="4"></textarea>
    </div>
  </div>


<% end %>
