<%= form_for(@zabbix_server) do |f| %>
  <% if @zabbix_server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zabbix_server.errors.count, "error") %> prohibited this zabbix_server from being saved:</h2>

      <ul>
      <% @zabbix_server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :fqdn %><br>
    <%= f.text_field :fqdn, class: 'form-control', required: true, pattern: '[^\s]+' %>
  </div>
  <div class="form-group">
    <%= f.label :username %><br>
    <%= f.text_field :username, class: 'form-control', required: true, pattern: '[^\s]+' %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.text_field :password, class: 'form-control', type: 'password', required: true, pattern: '[^\s]+' %>
  </div>
  <div class="form-group">
    <%= f.label :version %><br>
    <%= f.text_field :version, class: 'form-control', required: true, pattern: '[^\s]+' %>
  </div>
  <div class="form-group">
    <%= f.label :details %><br>
    <%= f.text_field :details, class: 'form-control', required: true, pattern: '[^\s]+' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
