<% provide(:title, I18n.t('zabbix_servers.zabbix')) %>
<%- model_class = ZabbixServer -%>
<div class="page-header">
  <h1><%= t 'zabbix_servers.zabbix' %></h1>
</div>


<!-- component template -->
<script id="grid-template" type="text/template"> <%= render 'vue/index' %> </script>

<!-- demo root element -->
<div id="indexElement" ref="node">

  <div v-cloak>
    <div class="col-md-4"><input type="text" class="form-control" v-model="searchQuery" placeholder="<%= t 'infrastructures.search' %>"></div>

    <div class="pull-right">
      <a class="btn btn-danger btn-sm disabled"
      @click="delete_entry()"
      :class="{disabled: !can_delete()}">
          <%= fa 'times' %>
          <%= t 'common.btn.delete' %>
      </a>&nbsp
    </div>

    <div class="pull-right">
      <a class="btn btn-default btn-sm disabled"
          v-bind:href="picked.edit_zabbix_server_url"
          :class="{disabled: !can_edit()}">
          <span class='glyphicon glyphicon-edit'></span>
          <%= t 'helpers.links.edit' %>
      </a>&nbsp
    </div>
    <div class="pull-right">
      <a class="btn btn-default btn-sm" @click="reload()">
          <span class='glyphicon glyphicon-refresh'></span>
      </a>&nbsp
    </div>
  </div>

  <demo-grid
  :data.sync="gridData"
  :columns="gridColumns"
  :filter-key="searchQuery"
  :picked.sync="picked"
  :index="index"
  :url="url">
  </demo-grid>

  <div v-if="is_empty" v-cloak>
    <%= t 'zabbix_servers.msg.empty-list' %>
    <hr>
  </div>
  <div v-if="loading">
    <span class="loader"></span>
    <%= t 'common.msg.loading' %>
    <hr>
  </div>

</div>
<hr>

<br>

<%= link_to(
  t('zabbix_servers.btn.add'),
  new_zabbix_server_path,
  class: 'btn btn-primary btn-sm'
) if current_user.admin? %>
