<% provide(:title, t('infrastructures.database')) %>
<h1 class="page-header"><%= t('infrastructures.database') %></h1>


<div id="db-manage">
  <div class="jumbotron">
    <h2><%= t('databases.db_management') %></h2>
    <p></p>
    <p>
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#exportModal">
        <span class="glyphicon glyphicon-export"></span>
        <%= t('common.btn.export') %>
      </button>
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#importModal">
        <span class="glyphicon glyphicon-import"></span>
        <%= t('common.btn.import') %>
      </button>
    </p>
  </div>

  <%= render partial: 'modal_export' %>
  <%= render partial: 'modal_import' %>
</div>
