<div class="page-header">
  <h2>
    <%= t 'key_pairs.key_pairs' %>
    <small>
      <%= ('for '+ link_to(@project.name, projects_path(client_id: @project.client_id, project_id: @project_id))).html_safe if @project_id %>
    </small>
  </h2>
</div>

<div id="key-pairs-page" v-cloak>
  <div class="col-md-2">
    <div class="panel-group">
      <div class="form-group">
        <label><%= t('key_pairs.region') %></label>
        <button class="btn btn-default btn-sm" style="float: right" v-attr="disabled: loading" v-on="click: reload"><span class="glyphicon glyphicon-refresh"></span></button>
      </div>
      <div class="panel panel-primary">
        <div class="list-group">
          <a v-on="click: switch_region" v-repeat="region : regions" v-class="active: region.selected" class="list-group-item">{{region.name}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div-loader v-if="loading"></div-loader>
    <table class="table table-hover" v-if="!loading">
      <thead>
        <tr>
          <th><%= t('key_pairs.name') %></th>
          <th><%= t('key_pairs.fingerprint') %></th>
          <th><%= t('key_pairs.region') %></th>
          <th><%= t('key_pairs.using') %></th>
          <% if @allow_change %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr v-repeat="key_pair : key_pairs" v-show="selected === 'All' || selected === key_pair.region">
          <td>{{key_pair.name}}</td>
          <td>{{key_pair.fingerprint}}</td>
          <td>{{key_pair.region}}</td>
          <td>{{key_pair.using_sign}}</td>
          <% if @allow_change %>
            <td>
              <a href="#" v-on="click: delete_key_pair(key_pair)">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
