<% provide(:title, I18n.t('key_pairs.key_pairs')) %>
<div class="page-header">
  <h2>
    <%= t 'key_pairs.key_pairs' %>
    <small>
      <%= ('for '+ link_to(@project.name, projects_path(client_id: @project.client_id, project_id: @project_id))).html_safe if @project %>
    </small>
  </h2>
</div>

<div id="key-pairs-page" v-cloak>
  <div class="col-md-2">
    <div class="panel-group">
      <div class="form-group">
        <label><%= t('key_pairs.region') %></label>
        <button class="btn btn-default btn-sm" style="float: right" :disabled="loading" @click="reload"><span class="glyphicon glyphicon-refresh"></span></button>
      </div>
      <div class="panel panel-primary" v-if="regions">
        <div class="list-group">
          <a href="#" @click="switch_region(region.name)" v-for="region in regions" :class="{active: region.selected, disabled: has_no_key_pairs(region.name)}" class="list-group-item">
            {{region.name}}
            <span class="badge" v-text="number_of_key_pairs(region.name) | zero_as_blank"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div-loader v-if="loading"></div-loader>
    <div class="input-group" v-if="!loading">
      <input type="text" name="query" v-model="filterKey" class="form-control" placeholder="<%= t 'infrastructures.search' %>">
      <hr>
    </div>
    <table class="table table-hover" v-if="!loading">
      <thead>
        <tr>
          <th><%= t('key_pairs.name') %></th>
          <th><%= t('key_pairs.fingerprint') %></th>
          <th><%= t('key_pairs.region') %></th>
          <th><%= t('key_pairs.using') %></th>
          <% if @allow_change %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr v-for="key_pair in key_pairs | filterBy filterKey | paginate" v-show="is_selected(key_pair.region)">
          <td>{{key_pair.name}}</td>
          <td>{{key_pair.fingerprint}}</td>
          <td>{{key_pair.region}}</td>
          <td>{{key_pair.using_sign}}</td>
          <% if @allow_change %>
            <td>
              <button class="btn-link" v-if="!key_pair.using" @click="delete_key_pair(key_pair)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <nav v-if="check_length">
      <ul class="pager">
        <li :class="{disabled: isStartPage}"><a @click="showPrev()" ><span aria-hidden="true">&larr; <%= t 'monitoring.btn.prev' %></a></li>
        <label><%= t 'monitoring.msg.page' %>: &nbsp </label><strong v-html="pageNumber + 1"></strong> <%= t 'monitoring.msg.of' %>&nbsp<span v-html="roundup(key_pairs.length / pages)"></span>
        <li :class="{disabled: isEndPage}"><a @click="showNext()" :disabled="!isEndPage"></span><%= t 'monitoring.btn.next' %> <span aria-hidden="true">&rarr;</a></li>
      </ul>
    </nav>
  </div>
</div>
