<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
     <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script type="text/javascript">
      var session_id = '<%= current_user.ws_key if current_user %>';
    </script>
  </head>

  <body>



    <div id="wrapper" class="toggled">

       <!-- Sidebar -->
       <div id="sidebar-wrapper">
           <ul class="sidebar-nav navbar-collapse"　role="navigation">
             <li class="sidebar-brand">
               <a type="button" class="pull-right" href="#menu-toggle" id="menu-close"><%= fa_icon 'times' %>&nbsp&nbsp</a>
             </li>
               <li class="sidebar-brand">
                   <a href="#">
                     Guide
                   </a>
               </li>
               <li data-toggle="collapse" data-target="#deploy" class="collapsed active" onclick="toggleChange(this)">
                   <a href="#"><%= t('instructions.deploy_head') %></a>
               </li>
               <ul class="sub-menu collapse" id="deploy">
                 <blockquote><small class="instructions"><%= t('instructions.deploy_body') %></small></blockquote>
               </ul>
               <li data-toggle="collapse" data-target="#signup" class="collapsed active" onclick="toggleChange(this)">
                   <a href="#"><%= t('instructions.signup_head') %></a>
               </li>
               <ul class="sub-menu collapse" id="signup">
                  <blockquote><small class="instructions"><%= t('instructions.signup_body') %></small></blockquote>
               </ul class="sub-menu collapse" id="zabbix">
               <li data-toggle="collapse" data-target="#zabbix" class="collapsed active" onclick="toggleChange(this)">
                   <a href="#"><%= t('instructions.select_zabbix_head') %></a>
               </li>
               <ul class="sub-menu collapse" id="zabbix">
                  <blockquote><small class="instructions"><%= t('instructions.select_zabbix_body') %></small></blockquote>
               </ul>
               <li data-toggle="collapse" data-target="#chef_server" class="collapsed active" onclick="toggleChange(this)">
                   <a href="#"><%= t('instructions.sign_chef_head') %></a>
               </li>
               <ul class="sub-menu collapse" id="chef_server">
                  <blockquote><small class="instructions"><%= t('instructions.sign_chef_body') %></small></blockquote>
               </ul>
               <li data-toggle="collapse" data-target="#runlist" class="collapsed active" onclick="toggleChange(this)">
                   <a href="#"><%= t('instructions.runlist_head') %></a>
               </li>
               <ul class="sub-menu collapse" id="runlist">
                  <blockquote><small class="instructions"><%= t('instructions.runlist_body') %></small></blockquote>
               </ul>
               <li data-toggle="collapse" data-target="#cook" class="collapsed active" onclick="toggleChange(this)">
                   <a href="#"><%= t('instructions.cook_head') %></a>
               </li>
               <ul class="sub-menu collapse" id="cook">
                  <blockquote><small class="instructions"><%= t('instructions.cook_body') %></small></blockquote>
               </ul>
           </ul>

       </div>
       <!-- /#sidebar-wrapper -->

       <!-- Page Content -->
       <div id="page-content-wrapper">
         <%= render partial: 'layouts/navbar_top' %>

         <div class="container">
             <div class="col-md-12 col-sm-12">
               <%= bootstrap_flash %>
               <%= yield %>
             </div>

         </div> <!-- /container -->
   </div>

    <%= render partial: 'layouts/navbar_bottom' %>

    <%= render partial: 'layouts/notification_center' %>
    <%= render partial: 'layouts/instructions' %>


    <!-- Javascripts ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%# Library をロード、I18n の設定、アプリケーションコードのロードの順に行わないと、
      I18n の言語指定がされないままアプリケーションコードが実行されてしまうため、このように読み込む。 %>
    <%= javascript_include_tag "libraries" %>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= javascript_include_tag "application" %>

    <% controller_name = controller.controller_name %>
    <% if Rails.application.assets.find_asset(controller_name) %>
      <%= javascript_include_tag controller_name %>
    <% end %>
  </body>
</html>
