<%- model_class = CfTemplate -%>

<div style="margin-bottom: 50px;">
  <h5><%= t('cf_templates.subject')%></h5>
  <pre><%= @cf_template.name %></pre>
  <h5><%= t('cf_templates.details') %></h5>
  <pre><%= @cf_template.detail %></pre>
  <h5><%= t('cf_templates.cf_template') %></h5>
  <pre id="cf_value" data-format="<%= @cf_template.format %>"><%= @cf_template.value %></pre>
</div>
