<% provide(:title, I18n.t('cf_templates.cf_template')) %>
<%- model_class = CfTemplate -%>
<% master_admin = current_user.master? && current_user.admin? %>
<div class="page-header">
  <h1><%= t('cf_templates.cf_template') %></h1>
</div>

<%= render 'vue/index' %>

<table class="table hidden">
  <tbody>
    <% @global_jsons.each do |json| %>
      <tr>
        <td>
          <%= link_to t('helpers.links.show'), '#', class: 'btn btn-xs btn-info show-template' %>
          <%= button_edit_cft(json) %>
          <%= button_destroy_cft(json) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_add_cft %>
<%= button_template_builder %>

<div class="page-header"></div>

<div id="template-information"></div>

<% content_for :sidebar do %>
<% end %>
