<% provide(:title, I18n.t('cf_templates.cf_template')) %>
<%- model_class = CfTemplate -%>
<% master_admin = current_user.master? && current_user.admin? %>
<div class="page-header">
  <h1><%= t('cf_templates.cf_template') %></h1>
</div>

<script id="grid-template" type="text/template"> <%= render 'vue/index' %> </script>

<div id="indexElement" v-el:node>

  <div v-cloak>
    <div class="col-xs-4"><input type="text" class="form-control" v-model="searchQuery" placeholder="<%= t 'infrastructures.search' %>"></div>

    <div class="pull-right">
      <a class="btn btn-danger btn-sm disabled"
      :class="{disabled: can_delete()}"
      @click="delete_entry()">
          <%= fa 'times' %>
          <%= t 'common.btn.delete' %>
      </a>&nbsp
    </div>

    <div class="pull-right" v-cloak="picked">
      <a class="btn btn-default btn-sm disabled"
          :href="picked.button_edit_cft" :class="{disabled: can_edit()}">
          <span class='glyphicon glyphicon-edit'></span>
          <%= t 'helpers.links.edit' %>
      </a>&nbsp
    </div>

    <div class="pull-right">
      <div class="btn-group" role="group">
        <a class="btn btn-success btn-sm"
        :class="{disabled: !can_export}"
        @click="export_selected">
          <span class='glyphicon glyphicon-export'></span>
          <%= t 'common.btn.export' %>
        </a>
        <a class="btn btn-success btn-sm"
        @click="export_all">
          All
        </a>&nbsp
      </div>
    </div>

    <div class="pull-right">
      <span v-if="multiSelect">
        [{{selections.length}} / {{gridData.length}}] selected
      </span>
      <label>
        <input v-model="multiSelect" type="checkbox">Multiple Select
        &nbsp
      </label>
    </div>
  </div>


  <demo-grid
  :data.sync="gridData"
  :columns="gridColumns"
  :filter-key="searchQuery"
  :picked.sync="picked"
  :index="index"
  :multi-select="multiSelect"
  :selections.sync="selections">
  </demo-grid>
</div>


<%= button_add_cft %>
<%= button_template_builder %>

<div class="page-header"></div>

<div id="template-information"></div>

<% content_for :sidebar do %>
<% end %>
